[2017-01-16 12:29] sameo opened #1 "OCI runtime CLI implementation"
Add support for the [OCI CLI spec](https://github.com/opencontainers/runtime-spec/pull/513).
Use an existing Go package for command and options handling like e.g. [github.com/urfave/cli](https://github.com/urfave/cli).

[2017-01-18 09:55] sameo opened #2 "Implement the runtime create command"
Implement the runtime [`create`](https://github.com/wking/opencontainer-runtime-spec/blob/8b71f78830fec957c4b63352df1746214c6e9982/command-line-interface.md#create) command according to the OCI specs.

[2017-01-18 09:59] sameo opened #3 "Implement the runtime start command"
Implement the runtime [`start`](https://github.com/wking/opencontainer-runtime-spec/blob/8b71f78830fec957c4b63352df1746214c6e9982/command-line-interface.md#start) command according to the OCI specs.

[2017-01-18 10:00] sameo opened #4 "Implement the runtime state command"
Implement the runtime [`state`](https://github.com/wking/opencontainer-runtime-spec/blob/8b71f78830fec957c4b63352df1746214c6e9982/command-line-interface.md#state) command according to the OCI specs.

[2017-01-18 10:01] sameo opened #5 "Implement the runtime kill command"
Implement the runtime [`kill`](https://github.com/wking/opencontainer-runtime-spec/blob/8b71f78830fec957c4b63352df1746214c6e9982/command-line-interface.md#kill) command according to the OCI specs.

[2017-01-18 10:03] sameo opened #6 "Implement the runtime delete command"
Implement the runtime [`delete`](https://github.com/wking/opencontainer-runtime-spec/blob/8b71f78830fec957c4b63352df1746214c6e9982/command-line-interface.md#delete) command according to the OCI specs.

[2017-01-18 10:37] sameo opened #7 "Network support"
Implement Clear Containers networking support:

- Create container networking namespace.
- Run networking pre-hooks.
- Discover the created network interfaces.
- Add the related tap interfaces.
- Build the integration bridge.
- Add the pre-hook created interfaces and the tap ones to the integration bridge.

Should this be done from virtcontainers ?

[2017-01-18 16:50] sameo opened #8 "Enable memory consumption PnP tests"
We want to be able to run the memory consumption metrics for CC3.x like we did for CC2.x

[2017-01-18 16:50] sameo opened #9 "Enable boot time PnP test"
We want to be able to run the boot time tests for  CC 3.x like we did for CC 2.x.

[2017-01-30 14:23] #1 closed

[2017-01-30 15:16] sameo opened #11 "Convert an OCI runtime configuration to a virtcontainers PodConfig"
We want a generic API for converting an OCI compatible `config.json` file into a virtcontainers `PodConfig`.
The runtime will then use the `PodConfig` to call into virtcontainers API and manage the containers lifecycles.

[2017-01-30 15:33] sameo commented on #11
We should implement that as a separate package, in case we eventually want to integrate it into virtcontainers itself.

[2017-01-30 16:37] sameo opened #12 "Host networking is not supported"
_From @sameo on January 24, 2017 15:44_

We do not support running Clear Containers within the host network (`docker --net=host run foo`).
Although this sounds like a corner case, it seems that Kubernetes starts at least one such container per node (for kube-proxy) in order to mess with the host iptables and routes.

_Copied from original issue: 01org/cc-oci-runtime#617_

[2017-01-30 16:38] sameo opened #13 "'clr-oci-runtime ps CID' shows empty"
_From @devimc on July 18, 2016 18:53_

ps command has not implementation

_Copied from original issue: 01org/cc-oci-runtime#24_

[2017-01-30 16:38] sameo commented on #13
_From @grahamwhaley on July 29, 2016 11:57_

Is this the ps that will be used by Docker/containerd ?

[2017-01-30 16:38] sameo commented on #13
_From @devimc on August 4, 2016 13:39_

@grahamwhaley  yes , this bug depends on #18

[2017-01-30 16:41] sameo opened #14 "linux.seccomp not supported"
_From @jodh-intel on August 30, 2016 16:48_

See: https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#seccomp

_Copied from original issue: 01org/cc-oci-runtime#193_

[2017-01-30 16:41] sameo commented on #14
_From @jodh-intel on September 9, 2016 8:55_

The seccomp rules specified by `config.json` refer to the host kernel.

But since the workload is running under a _different_ kernel, there are some interesting scenarios to consider:
- What if the guest kernel has no knowledge of a particular syscall specified in `config.json`?

  This implies the guest kernel is older than the host kernel (which furt

[2017-01-30 16:41] sameo commented on #14
_From @dlespiau on September 9, 2016 9:46_

An addition to the 2 point: Syscall numbers are hard hard ABI, a bigger source of mismatch would be different architectures int the host/vm ie x86_64 vs x32 ABIs.

But I think these problems come from trying to solve the issue from the host side: what about forwarding the unresolved seccomp rules to the agent inside the VM?

[2017-01-30 16:41] sameo commented on #14
_From @grahamwhaley on September 9, 2016 9:54_

I was going to note - I don't think the syscall numbers will change in a single architecture - as @dlespiau says, it is a hard well defined ABI, and the kernel is extremely careful to not change it in any way that might break - old deprecated syscall numbers are not re-used for instance.
We will never run a different (non-IA) arch in the client, and

[2017-01-30 16:42] sameo opened #15 "linux.sysctl not supported"
_From @jodh-intel on August 30, 2016 16:47_

See: https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#sysctl

_Copied from original issue: 01org/cc-oci-runtime#192_

[2017-01-30 16:50] sameo opened #16 "/tmp is shared between the workload process and the VM OS"
_From @dlespiau on August 19, 2016 17:21_

We could use PrivateTmp (https://www.freedesktop.org/software/systemd/man/systemd.exec.html#PrivateTmp=) as a quick solution, but might as well take all the other init process/exec related issue and come up with a better solution.

_Copied from original issue: 01org/cc-oci-runtime#144_

[2017-01-30 16:50] sameo commented on #16
_From @dlespiau on September 14, 2016 10:20_

This should be handled by hyperstart, revisit after we have hyperstart working

[2017-01-30 16:50] sameo commented on #16
_From @dlespiau on November 10, 2016 19:11_

The goal is to make sure we don't see the VM /tmp from the container. Maybe just testing /tmp is empty would be enough as systemd would leave files in /tmp

[2017-01-30 16:51] sameo opened #17 "the user and group settings in config.json are not honoured."
_From @jodh-intel on July 18, 2016 16:58_

Specifically, `process.user.uid`, `process.user.gid` and `process.additionalGids` are ignored.

See:
-  `clr_oci_create_container_workload()` in [src/oci.c](src/oci.c).
- https://github.com/opencontainers/runtime-spec/blob/master/config.md#user.

_Copied from original issue: 01org/cc-oci-runtime#20_

[2017-01-30 16:51] sameo commented on #17
_From @jodh-intel on August 23, 2016 13:37_

It would make sense to handle #139 here too.

[2017-01-30 16:51] sameo commented on #17
_From @jodh-intel on August 31, 2016 10:5_

Although the default user+group are `root`, docker 1.12 specifies `process.additionalGids=10` (`wheel`).

[2017-01-30 16:51] sameo opened #18 "namespaces are not created as specified by OCI spec"
_From @jodh-intel on August 30, 2016 16:35_

The following namespaces are not honoured:
- `pid` (see #143).
- `mount`
- `ipc`
- `uts`
- `user`
- `cgroup`

See: https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#namespaces.

Note that the `network` namespace is created outside the VM - this is mandatory to work with docker and have working networking.

_Copied from original

[2017-01-30 16:51] sameo commented on #18
_From @jodh-intel on August 31, 2016 10:13_

Docker 1.12.1 specifies the following namespaces in `config.json`:
- `network` (done)
- `pid` (see #143)
- `mount`
- `uts`
- `ipc`

[2017-01-30 16:52] sameo opened #19 "support linux.cgroupsPath and linux.resources (resource constraints)"
_From @jodh-intel on August 22, 2016 13:27_

The OCI config file, `config.json`, specifies resource constraints in the form of `linux.resources` JSON objects which map closely to cgroups.

We need to find a way to implement such constraints.

See:
- https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#control-groups

_Copied from original issue: 01org/cc-oci-runtime#148_

[2017-01-30 16:52] sameo commented on #19
Most of the resource constraints would need to be applied to the qemu process, a.k.a. the VM, by either using cgroups on the host or map the restrictions to qemu parameters (CPU, memory...).

[2017-01-30 16:53] sameo opened #20 "Modify Travis build to make use of docker"
_From @jodh-intel on September 29, 2016 9:32_

Travis is an excellent facility, but the fact that the newest environment they support is Ubuntu Trusty (14.04) is problematic given the old versions of tooling and libraries.

We should use Travis to trigger a build and test run inside a docker image since that way we can use any environment we wish (even multiple).

Related: #255, #295, #114, #155.

[2017-01-30 16:53] sameo commented on #20
_From @jodh-intel on September 29, 2016 9:33_

Rework https://github.com/jodh-intel/cc-oci-runtime/blob/run-tests-in-travis-under-docker/ to only run unit tests (but including valgrind, cppcheck and code-coverage).

[2017-01-30 16:54] sameo opened #21 "Support process.consoleSize"
_From @jodh-intel on October 18, 2016 8:5_

See: https://github.com/opencontainers/runtime-spec/blob/master/config.md#process-configuration

`process.consoleSize` is specified by docker 1.12.2.

_Copied from original issue: 01org/cc-oci-runtime#330_

[2017-01-30 16:54] sameo commented on #21
_From @jodh-intel on November 2, 2016 14:6_

Related: #134.

[2017-01-30 16:59] sameo opened #22 "linux.readonlyPaths not supported"
_From @jodh-intel on August 30, 2016 16:49_

See: https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#readonly-paths

_Copied from original issue: 01org/cc-oci-runtime#196_

[2017-01-30 16:59] sameo opened #23 "linux.maskedPaths not supported"
_From @jodh-intel on August 30, 2016 16:49_

See: https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#masked-paths.

_Copied from original issue: 01org/cc-oci-runtime#195_

[2017-01-30 17:00] sameo opened #24 "process.capabilities not implemented"
_From @jodh-intel on August 30, 2016 16:26_

See https://github.com/opencontainers/runtime-spec/blob/master/config.md#process-configuration.

_Copied from original issue: 01org/cc-oci-runtime#184_

[2017-01-31 13:41] sameo opened #25 "Missing support for a runtime configuration file"
The runtime needs a configuration file for runtime specific settings:

- Hypervisor
  - hypervisor path
  - Guest kernel path
  - Guest OS image path

- Agent
  - Agent configuration (socket paths)

[2017-01-31 13:58] sameo commented on #25
I recommend [toml](https://github.com/toml-lang/toml) for the configuration file format:

[code]

together with https://github.com/BurntSushi/toml, it should make for a simple, easy to read and parse configuration file.

[2017-01-31 16:00] sameo commented on #25
@dlespiau @sboeuf @amshinde

[2017-01-31 16:15] dlespiau commented on #25
@sameo it may be useful to have a bit more "typing" so we can evolve the config keys without breaking compatibility:

[code]

For instance we would treat qemu and qemu-lite differently (eg. machine type)

[2017-01-31 16:20] sboeuf commented on #25
@sameo Do you mean this file will be located in a well known path from the runtime ?

[2017-01-31 16:21] sboeuf commented on #25
@dlespiau yes I agree it would avoid any breakage in case we want to change someday our agent or hypervisor

[2017-01-31 17:01] sameo commented on #25
@dlespiau, @sboeuf  would something like that work for you guys:

[code]

[2017-01-31 17:06] sameo commented on #25
Yes. /etc/cc-runtime/runtime.toml for example

[2017-01-31 18:49] amshinde commented on #25
@sameo I think we should choose a stateless location under /usr/share for the default configuration file.

[2017-01-31 20:42] dlespiau commented on #25
none of these "stateless" things for cc upstream please, packaging can be made to change syscondir if so wished.

[2017-02-02 16:30] #25 closed

[2017-02-07 10:24] sameo opened #31 "Enable and tune KSM"
### Problem Statement

All Clear Containers share the same kernel and guest OS image, and thus the hypervisor will allocate anonymous pages for both of those components. For many of them, those pages could be shared and deduplicated through the [Kernel Same Page Merging (KSM)](https://www.kernel.org/doc/Documentation/vm/ksm.txt) technology. Unfortunately, we are currently not taking full advantage

[2017-02-07 10:31] sameo opened #32 "Publish the Clear Containers PnP scripts"
So that one can easily reproduce and track PnP locally.

[2017-02-07 11:53] sameo opened #33 "Enhance PnP memory footprint data"
Besides the raw memory consumption in KBytes, we should measure more fine grained data:

* Shared memory
* Anonymous (private) pages

[2017-02-07 11:54] sameo commented on #33
cc @jtkukunas

[2017-02-07 11:54] sameo commented on #32
cc @jtkukunas

[2017-02-07 11:59] sameo opened #34 "Add more memory consumption benchmarks"
cc @jtkukunas

To be completed with more tests

#### Memory consumption exponential scaling
Does our memory consumption scale with the number of started containers ? With KSM enabled the average memory consumption per container should decrease with the number of containers.

We should measure the total average memory consumption per container for 1, 10, 100, 500 and 1000 running containers.

####

[2017-02-07 12:01] sameo opened #35 "Add more boot time benchmarks"
cc @jtkukunas

To be completed with more tests

#### Measure boot time scalability
On a given system running N containers, how does our boot time per container increase when starting a single container? N=[10, 50, 100]

[2017-02-07 12:07] grahamwhaley commented on #33
Do we think it will be possible to measure 'peak boot memory' as well? It will be useful to know so we can (later) try and set the memory overhead needed for the VM itself.
I have been wondering if one of the bootcharts can give this data.
This came up recently in my mind when looking at the rkt/kvm VM memory allocation - as for a pod with no initial workload we need to allocate enough memory to b

[2017-02-07 12:08] grahamwhaley commented on #34
I've always also wanted to see the 'KSM burndown' graph - that is, how long does it take KSM to take effect and settle down to a steady number. That should be pretty easy to measure/generate.

[2017-02-07 12:11] sameo opened #36 "Include memory consumption and boot time to our CI"
Gate runtime, @clearcontainers/proxy, @clearcontainers/shim PR merges by basic PnP runs: Container density and boot time for `docker run busybox true`.

cc @jtkukunas

[2017-02-07 12:15] sameo opened #37 "Switch to an initrd image for the guest VM"
Compare a full OS image vs an intrd/initramfs one for:

- Memory consumption
- Boot time
- CPU utilization

We may be ready to accept slight boot time degradation for significant memory consumption reduction.

cc @jtkukunas

[2017-02-08 14:27] sameo opened #38 "Add I/O benchmarks"
We should add I/O tests for measuring disk/volumes and filesystem throughput.
We know 9pfs is slow and we hope to be able to improve it over time, and thus we need to include benchmarks for it to our PnP suite.

cc @jtkukunas

[2017-02-08 14:30] sameo opened #39 "Add networking benchmarks"
With Clear Containers we are pushing all network packets between the container and the host through a Linux bridge, with or without SRIOV.
Having basic networking benchmarks (iperf based ?) for Clear Containers with and without SRIOV would be needed.

cc @jtkukunas

[2017-02-08 14:36] sameo opened #40 "Use a basic VM as part of our memory baseline"
We want to measure the overall Clear Containers (QEMU, guest VM, runtime, shim, proxy) memory overhead, but we should also measure our memory overhead compared to a very basic QEMU instance.
This will give us the runtime+shim+proxy+guest VM overhead.

Our basic QEMU VM should not even boot a kernel, but stop at the firmware level.

[2017-02-08 14:45] sameo opened #41 "Define, document and publish reference workloads for our benchmarks"
We should define and publish a short set of custom workloads for our benchmarks.

#### Define
For example:

- A minimal workload: A busybox container that sleeps for one hour
- An I/O specific workload
- A networking workload

#### Document and publish
Each of those workloads should:

- Have their Dockerfile published here: https://github.com/clearcontainers/dockerfiles
- Be pushed to https://hub.

[2017-02-08 15:10] sameo opened #42 "Use Clear Linux, Fedora and Ubuntu as host distros"
We should use more than one distro for measuring our Clear Containers performance data.
Clear Linux, Fedora and Ubuntu for example.

cc @jtkukunas

[2017-02-08 15:41] sameo opened #43 "Instrument QEMU for reducing the number of VM exits"
In order to improve boot time, we want to instrument QEMU and understand where we can reduce the number of VM exits by e.g. tuning VT-x to skip some of them.

cc @jtkukunas

[2017-02-08 18:01] dlespiau commented on #40
Note @bonzini recommended to use https://github.com/bonzini/qboot for fast boots, it should be easy to, for instance, compile a special version that stops before booting a kernel and measure memory then.

[2017-02-08 18:04] dlespiau commented on #37
Depending on how fast and how we managed to upstream qemu-lite, we may end up using qboot (https://github.com/bonzini/qboot) for this and we can give kernel + initrd for it to boot:

[code]

[2017-02-08 18:58] dlespiau commented on #35
So, we need to trace interesting events to measure the various boot phases across multiple processes: eg. runtime create() start, qemu exec, qemu/firmware boots the kernel, hyperstart starts, READY is sent, hyperstart createpod/startcontainer commands, runtime start() start and end, ...

I was thinking we use use either uprobes if we want to get fancy, or simple log traces the proxy can gather in

[2017-02-08 22:37] dborquez commented on #32
PRs commited:
PR [#658](https://github.com/01org/cc-oci-runtime/pull/658) boot time scalability
PR [#655](https://github.com/01org/cc-oci-runtime/pull/658) Memory footprint of a set of concurrent containers

[2017-02-09 23:06] mcastelino commented on #39
The minimal networking benchmarks that we need to run (local bridge) as well as machine to machine are.
So we need to do each of these tests in both cases

- Test: Bandwidth Rate (using iperf)
We have a container that acts as a client and one as a server
[code]
- Test: Jitter using iperf
[code]
- Test: Latency with ping
- Test: Latency with qperf (TCP and UDP)
[code]
- Test: Differential CPU Consu

[2017-02-09 23:31] mcastelino commented on #39
@sameo With SRIOV we are doing a direct device pass through. So no bridge involved. This will be our highest performance mode for networking.

[2017-02-09 23:53] mcastelino commented on #38
The I/O benchmarks should comprehend both local volumes as well as remote volumes.
The remote volumes should be on a non oversubscribed storage network.
This will help establish if 9pfs will be bottleneck even for remote volumes mandating a better solution.

[2017-02-09 23:55] mcastelino commented on #34
This density test is a pure idle test. We should include a separate non idle test for memory intensive containers like an in-memory database.

[2017-02-14 15:44] dborquez commented on #42
Update:
Plattforms enabled:
- 1 with Clear Linux
- 1 with Ubuntu
The OS update is automatic

[2017-02-14 16:13] aduenasd commented on #35
The following tests were expanded to capture the request:
- Docker workload latency for 10, 50 and 100 containers
- Stress Kernel boot time for 10, 50 and 100 containers

[2017-02-14 16:14] MarioCarrilloA commented on #33
@sameo @dborquez Done test for RSS memory usage and VmData (Running 20 CC simultaneously).

[2017-02-14 16:17] MarioCarrilloA commented on #34
@dborquez @sameo Done Average memory consumption per CC running 20 CC simultaneously, the footprint is the sum of the following components:

- PPS cc-proxy
- RSS cc-oci-runtime
- RSS cc-shim
- RSS qemu-lite

[2017-02-14 16:18] dborquez commented on #34
- Completed:  Memory density test running in a plattform with 14GB of free memory
  - The average number of cc instances simultanously running is 114 for three repetitions

[2017-02-20 17:42] devimc opened #49 "Annotations are not exposed to the Clear Container"
_From @jodh-intel on Jul 18, 2016_

See https://github.com/opencontainers/runtime-spec/blob/master/config.md#annotations.

_Copied from original issue: 01org/cc-oci-runtime#21_

[2017-02-20 17:43] devimc commented on #49
_From @grahamwhaley commented on Jul 29, 2016_

More a bug than an enhancement or feature, as we have missing functionality. May need to raise priority depending on feature demands.

[2017-02-20 17:44] devimc commented on #49
_From @amshinde on Jul 29, 2016_

I am not clear how annotations are going to be used by the container. A quick search through runc, shows that they are simply stored and read bacc from the state file.

[2017-02-20 17:44] devimc commented on #49
_From @jodh-intel on Aug 30, 2016_

The spec is not clear on how this data should be made available to the container so it would be interesting to see what runc does with it.

[2017-02-20 18:32] grahamwhaley opened #50 "Use atime on mounts if appropriate"
We should check if we have 'atime' set (or more correctly, noatime not set) on our mount points. Currently we believe it is not, and timestamp updates may be trickling down to layers that really don't need any updates, and the data is lost on container quit anyhow.
@mcastelino , as he was involved in the original discussion - so please add thoughts as appropriate.

[2017-02-20 19:15] grahamwhaley opened #51 "Evaluate use of capabilities in executables"
We should probably do a review of our executables 'capabilities', and start to remove any that are not needed (to reduce attack surface).
On the host side we should check what we can do for:
* the runtime
* the shim
* the proxy

and on the guest side we probably need to set or remove the capabilities around the workload according to the configuration (from the OCI file for instance) that is passed

[2017-02-20 22:44] sameo commented on #33
@jtkukunas @grahamwhaley I am assigning this issue to @MarioCarrilloA as he volunteered to take on it.

[2017-02-24 16:39] MarioCarrilloA commented on #33
@dborquez @sameo Done tests for PSS memory usage (Running 20 CC simultaneously).
Tests includes the following CC components:

-     cc-proxy
-     cc-shim
-     cc-oci-runtime
-     qemu-lite

[2017-03-03 21:12] jtkukunas commented on #43
Luckily, KVM has a tracepoint, "kvm:kvm_exit", that already exposes this information.

[2017-03-06 09:42] grahamwhaley commented on #43
The tracepoint noted by Jim is probably easier/better than this, but the following blog post popped up recently and could be interesting to compare/contrast: http://www.codeblueprint.co.uk/2017/02/26/using-perf-probe-to-analyse-vmexits.html

[2017-03-11 22:01] sameo commented on #7
Done from virtcontainers

[2017-03-22 18:46] MarioCarrilloA commented on #33
Today we have test for PSS, RSS VmData memory in the following elements:

- cc-proxy
- cc-shim
- cc-oci-runtime
- qemu-lite

Furthermore we have a tool for getting memory mapping tool.
https://github.com/01org/cc-oci-runtime/blob/master/tests/metrics/map_mem.sh

@sameo @dborquez  could we close this issue?

[2017-03-22 18:57] grahamwhaley commented on #33
I'd like to keep this open for the moment please. I've just started looking at those tests in detail, and want to get some of the background on measuring RSS and VmSize as well as PSS for instance.
thanks.

[2017-03-30 01:48] MarioCarrilloA commented on #33
@grahamwhaley  any update?

[2017-03-30 11:02] grahamwhaley commented on #33
Hi @MarioCarrilloA . I'd not looked at the map_mem.sh before ... I just tried running it locally under ubuntu (under ciao-down), and it seems to have trouble processing the `pmap` data I get - I end up with a math error as it tries to process `0 + 0 [anon]`.
What I ran was:
[code]

as root (as otherwise it cannot read the docker/root owned process data).
So, I'm going to have a look at that and se

[2017-03-30 14:54] MarioCarrilloA commented on #33
@grahamwhaley thanks. I will check it

[2017-03-30 15:11] MarioCarrilloA commented on #33
Hi @grahamwhaley ....ahhmm this is very weird, I made copy/paste of the command that you tried
[code]
and everything worked well :)

[2017-03-31 09:53] grahamwhaley commented on #33
Thanks for the verification. I just re-tried here, and it still did not work for me, so I'll add some more details (but see end of comment for possible clue):

First, if I run as non-root, then the command completes, but the .json file looks like this:

[code]

For reference, the output of the `pmap` command as non-root looks like:

[code]

So, no memory data, as I believe the qemu process is not

[2017-03-31 14:46] MarioCarrilloA commented on #33
ahmmm...very odd.... I made some test with more applications and everything worked well, ok I am going to check again....and if I get the same results, I am going to contact you :)

[2017-04-20 07:33] sameo opened #76 "Implement default config generation command"
We should have a runtime command (`runtime config`) for generating a default configuration with all options set to reasonable values. For binary paths (shim, proxy), we should use the default Clear Containers values.

[2017-04-21 16:41] jodh-intel opened #83 "implement "list" command."

[2017-04-22 17:08] dlespiau opened #85 "clearcontainers vs clear-containers in paths"
We currently use both, sometimes it's `/var/run/clearcontainers` and other times `/var/lib/clear-containers`. Pick one and stick with it. A quick git grep suggest we like `clear-containers` better.

[2017-04-24 08:01] jodh-intel commented on #85
+1 for `clear-containers` as the final element as it's easier to read.

[2017-05-02 15:45] sboeuf opened #91 "Kernel 4.9 crashes inside the VM when used with Semaphore CI"
For some unknown reasons, we cannot use the latest kernels for Clear Containers guest kernel when using Semaphore CI. Indeed, using some 4.9 kernels (maybe something changed in the config and it is not related to the kernel version), makes the kernel crashing inside the VM, while it works perfectly with kernel 4.5-50. This was the kernel released just before we switch to 4.9.4-53.

[2017-05-02 16:12] gorozco1 commented on #91
Kernel is being update to 4.9.24

[2017-05-02 16:14] sboeuf commented on #91
@gorozco1 I will give it a try with the new version, but I doubt it will work. I think something related to the kernel config is making this crash happening.

[2017-05-02 16:15] gorozco1 commented on #91
Which ubuntu bersion is running as a host?

[2017-05-02 16:16] jodh-intel commented on #91
Could you paste the crash details intto this issue?

[2017-05-02 16:19] jodh-intel commented on #91
I suspect it's Trusty (14.04.1) running 3.13.0-32-generic (https://semaphoreci.com/jamesodhunt/procenv/branches/master/builds/22)

[2017-05-02 16:19] jodh-intel commented on #91
@sboeuf - can you confirm?

[2017-05-02 16:26] gorozco1 commented on #91
with cc and recent changes in vm-kernel to support iptables networking stuff we will have a co-dependency with the host kernel, it should be minimum 4.4 in the host (I guess), could you confirm @mcastelino @amshinde

[2017-05-02 16:36] sboeuf commented on #91
@jodh-intel @gorozco1 Yes this is Ubuntu 14.04 with kernel 3.13 on the host.
The iptables patches have been introduced very recently and I think they were not in 4.9.4-53, thus I think that's another issue.
@jodh-intel I will paste logs from crash when I will investigate this issue. I forgot to save them last week.

[2017-05-02 16:51] mcastelino commented on #91
@gorozco1 @amshinde Do we support Ubuntu 14.04? In any case you should get an error on iptables-restore and not a crash if the host has a iptables module enabled which we do not enable in our CC kernel.

From initial testing it was ok to have iptables module enabled in CC but not enabled on the host kernel. So there should not be a dependency across the kernels per-se if we have all modules enable

[2017-05-03 01:30] amshinde commented on #91
The recent kernel changes may cause a failure in iptables-restore command in the worst case, but should not cause a crash.

[2017-05-03 07:56] sameo commented on #11
Implemented through `virtcontainers:pkg/oci`

[2017-05-03 07:56] #11 closed

[2017-05-03 07:57] #7 closed

[2017-05-03 08:27] jodh-intel commented on #91
Assigned to @sboeuf for now to ensure we don't forget to add the logs.

[2017-05-03 08:33] #6 closed

[2017-05-03 08:34] #2 closed

[2017-05-03 08:34] #3 closed

[2017-05-03 09:05] sameo opened #93 "Improve runtime unit tests code coverage"
Runtime's unit testing only covers 35% of the runtime code today.
The code will need some refactoring but this needs to be improved.

[2017-05-03 09:13] sameo opened #94 "Implement the runtime run command"
`run` creates and starts a container

[2017-05-03 09:43] sameo opened #95 "Implement the runtime ps command"
`ps` shows all processes running inside a container.

[2017-05-03 09:50] sameo opened #96 "CRI-O integration"
Integrate with Kubernetes at the CRI level, through the CRI-O project.

[2017-05-03 10:02] sameo opened #97 "Enable I/O PnP tests"
We'd like to be able to run the I/O (storage) metrics on CC3.x like we did for CC2.x.
We'd like to be able to run for local and remote volumes and rootfs.

[2017-05-03 10:02] sameo opened #98 "Enable networking PnP tests"
We want to be able to run the networking metrics tests on CC3.x like we did for CC2.x

[2017-05-03 10:24] sameo opened #99 "Implement the pause runtime command"
`pause` suspends all processes inside the container.

[2017-05-03 10:25] sameo opened #100 "Implement the resume runtime command"
`resume` resumes all processes that have been previously paused.

[2017-05-03 12:40] sameo opened #101 "Docker swarm support"
Support Docker swarm

[2017-05-03 12:47] sameo opened #102 "Docker EE and CE compatibility"
Make sure our runtime is compatible with the Docker EE and CE releases

[2017-05-03 12:52] sameo opened #103 "Package 3.0 components"
All 3.0 components need to be packaged and distributed through OBS.

TBD: Do we want a new OBS repo for them, or do we want to overwrite the exisiting one ?

[2017-05-03 13:00] sameo opened #104 "Update the architecture document"
Update the [current document](https://github.com/01org/cc-oci-runtime/blob/master/documentation/architecture.md) to follow the 3.0 architectural changes

[2017-05-03 13:04] sameo opened #105 "Update the installation documents"
We most likely will pull from a different OBS URL.

[2017-05-03 13:07] sameo opened #106 "Run all tests from a public infrastructure"
Using Semaphore CI, we can theoretically run unit, functional and integration tests externally.

The public tests results should be displayed and should gate each and every PR for `proxy`, `shim` and `runtime`.

[2017-05-03 14:06] jodh-intel opened #109 "kill should accept short signal name"
The `kill` command currently accepts a string signal name (such as `SIGINT`), but not a short name (such as `INT`). Note that `runc` supports both.

[2017-05-03 16:57] dlespiau commented on #85
The tag was missing from the commit :( closing by hand.

[2017-05-03 16:57] #85 closed

[2017-05-03 17:15] #109 closed

[2017-05-04 18:35] amshinde opened #112 "Change shim binary path to /usr/libexec/clear-containers from /usr/libexec"
Change the shim path to include clear-containers in the path  to not conflict with older binaries and to be consistent with the rest of the codebase

[2017-05-04 22:00] #112 closed

[2017-05-05 16:33] devimc opened #114 "Kill --all does not stop the VM"
[code]

[2017-05-05 16:34] devimc commented on #114
similar issue https://github.com/clearcontainers/runtime/issues/5

[2017-05-05 19:07] devimc opened #115 "start does not wait for the container"
start must wait for the container when the runtime is running standalone

[code]

[2017-05-09 19:05] devimc commented on #115
ref https://github.com/containers/virtcontainers/pull/240

[2017-05-09 19:05] #115 closed

[2017-05-09 19:18] devimc opened #118 "running standalone create+start are not working"
running
[code]
sometimes reports next error
[code]

[2017-05-11 13:54] sameo opened #120 "docker --tmpfs does not work"
_From @mcastelino on May 10, 2017 0:22_

`docker run -it --tmpfs /run:rw,noexec,nosuid,size=65536k busybox sh`

[code]
125 if the error is with Docker daemon itself

fails with clear containers.

`level=error msg="containerd: start container" error="containerd: container not started" id=8a2ddc7d5994635c8a256f659a20de1d8793505454213a3f7703c0967b56ff14`

the config.json shows

[code]

_Copied from o

[2017-05-11 13:55] sameo opened #121 "docker swarm: dns resolution fails"
_From @mcastelino on April 27, 2017 17:37_

When running Clear Container based containers in a docker swarm, DNS resolution does not work both for internal and external DNS when the DNS resolution is performed from *within* the Clear Container.

This is due to the way the DNS resolution is implemented within docker swarm.

# DNS Resolution in Swarm

All docker swarm containers have the DNS resolve

[2017-05-11 13:55] sameo commented on #121
_From @mcastelino on April 27, 2017 17:56_

@devimc We need to add this to our release notes.

[2017-05-11 13:55] sameo commented on #121
_From @devimc on April 27, 2017 18:49_

great! thanks @mcastelino and nice description

[2017-05-11 13:55] sameo opened #122 "cc-shim: cc-shim is not namespaced"
_From @mcastelino on April 21, 2017 20:56_

cc-shim is not namespaced to match the process that it represents. This results in inconsistencies when trying to use the PID reported by docker to examine the process.

[code]
Will result in incorrect information.

We should place the cc shim in the proper namespaces. Additionally we should document this limitation until we fix this issue.

_Copied from

[2017-05-11 13:55] sameo commented on #122
_From @devimc on April 27, 2017 13:35_

cc-shim is part of the memory cgroup but yes we have to add it to a namespace
adding this limitation to release notes
thanks

[2017-05-11 13:55] sameo commented on #122
_From @dlespiau on April 27, 2017 13:45_

question: is it time to put these bugs/feature request as 3.0 items?

[2017-05-11 13:55] sameo commented on #122
_From @devimc on April 27, 2017 13:50_

@dlespiau I think so, what do you think @mcastelino ?

[2017-05-11 14:00] jcvenegas opened #123 "Networking: Clear Containers allows over-ride of network parameters"
_From @mcastelino on April 7, 2017 21:44_

In the case of clear container we allow the over-ride of networking parameters.
example
` echo "33000 60999" > /proc/sys/net/ipv4/ip_local_port_range`

Doing this is not allowed in the case of runc containers

Docker does support tweaking via the systctl setup for namespaced properties.
https://docs.docker.com/engine/reference/commandline/run/#options

`d

[2017-05-11 14:01] sameo opened #124 "Make the runtime launch the proxy if the socket hasn't been created"
_From @dlespiau on December 8, 2016 12:27_

At the moment, the proxy needs to be started first before we can use the OCI runtime. We could remove that step, which requires the user to know about an implementation detail of the runtime:

  - If the runtime can't connect to the proxy, launch in it daemon mode  (https://github.com/01org/cc-oci-runtime/issues/520)
  - The runtime waits (waitpid() and

[2017-05-11 14:01] jcvenegas opened #125 "improve debug behaviour"
_From @jodh-intel on February 17, 2017 17:8_

Since docker does not allow options to be passed to the hypervisor, enabling runtime debugging is awkward [1].

Rather than having to reconfigure docker to use the `cc-oci-runtime.sh` helper utility to enable debug, we could control debug via environment variables. Something like:

[code]

The best approach might be to only have one environment variabl

[2017-05-11 14:02] jcvenegas opened #126 "hypervisor auto-shutdown"
_From @jodh-intel on February 17, 2017 16:59_

We need to consider making the hypervisor shutdown automatically if it detects that either the proxy or all associated shims have disconnected.

_Copied from original issue: 01org/cc-oci-runtime#679_

[2017-05-11 14:02] jcvenegas opened #127 ""Outer" container & Qemu process isolation"
_From @dlespiau on September 9, 2016 11:21_

Most of the OCI isolation/security features don't directly apply to the qemu process, but to the workload process inside the VM (eg. seccomp filters).

However we want to:
- apply some of those isolation features to the qemu process (eg. CPU limits). The exact list is TDB.
- unconditionally harden the qemu process. libvirt has [a page](https://libvirt.o

[2017-05-11 14:02] jcvenegas commented on #127
_From @dlespiau on September 9, 2016 14:14_

Adding Anthony to the discussion, he'll probably have some good input for the qemu side of things.

[2017-05-11 14:02] jcvenegas commented on #127
_From @anthonyzxu on September 13, 2016 0:43_

Can we run CC inside container?  then we can use cgroup ACL for CC.
we may need to figure out how to handle root disk, how to put it into container file system, will symbolic link or hard link work if root disk is a shared image?

[2017-05-11 14:02] jcvenegas commented on #127
_From @grahamwhaley on September 13, 2016 9:31_

Hi @anthonyzxu Yes, we have considered running QEMU inside a container if that is needed to provide any of the required functionality - if that is the best way to provide it. Although I think we all agree it may 'feel a little odd', using a container space to wrap the VM that is providing a method to run containers in VMs, if there is a feature/meth

[2017-05-11 14:02] jcvenegas commented on #127
_From @anthonyzxu on September 13, 2016 23:33_

https://github.com/rancher/vm
RancherVM allows you to create a special kind of containers called VM Containers. A VM container looks and feels like a regular container.

Maybe we can leverage their efforts.

[2017-05-11 14:02] jcvenegas commented on #127
_From @anthonyzxu on September 13, 2016 23:35_

Seems they use runc to start the VM container

[2017-05-11 14:02] sameo opened #128 "Find a way to propagate error messages from runtime to docker"
_From @dlespiau on November 2, 2016 12:33_

Right now, when the runtime fails to start a container for whatever reason (we weren't able to start qemu, find the kernel or image, ...) the only feedback containerd and docker gives back to the user is "container not started", which isn't very helpful and people needs extra guidance and manual steps to debug the issue.

We should try to find a way to p

[2017-05-11 14:02] sameo commented on #128
_From @jodh-intel on November 2, 2016 13:46_

Agreed.

Related: we could also explore the idea of logging direct to syslog for messages `>= G_LOG_LEVEL_WARNING` so that atleast users will see something in the journal (currently we only log to syslog if the logging subsystem itself fails to generate a log entry).

[2017-05-11 14:02] sameo commented on #128
_From @jodh-intel on April 12, 2017 7:38_

Related: #680.

[2017-05-11 14:04] sameo commented on #122
Tracked through the shim repo: https://github.com/clearcontainers/shim/issues

[2017-05-11 14:04] #122 closed

[2017-05-11 14:06] sameo commented on #126
This issue was moved to containers/virtcontainers#249

[2017-05-11 14:06] #126 closed

[2017-05-11 16:42] mcastelino commented on #121
Initial proposal for support for DNS resolution for clear containers with docker swarm.

The internal DNS resolution can be supported by running a DNS proxy agent within each Clear Container VM, which then forwards the request to the host side network namespace to the docker DNS resolver. This can be done in one of two ways
- Assign a unique IP address to the integration bridge (which is not assig

[2017-05-12 16:23] #94 closed

[2017-05-12 17:11] devimc opened #133 "Run and delete several containers reduce the boot time progressively"
[code]

starts with a real time of ```0.802s``` and ends with ```0m5.295s```!
seems like the pod directory is not cleaned and the function ```ListPod()``` takes a long time to return

[2017-05-12 17:25] sboeuf commented on #133
@devimc Ah yes I think you forgot to call the `vc.StopPod()` and `vc.DeletePod()` in your run implementation, right ?

[2017-05-12 18:56] devimc commented on #133
@sboeuf nop, I'm using docker and docker uses (create+start)

[2017-05-12 19:02] sboeuf commented on #133
@devimc Ah okay then you should modify the script to make it remove the container created, shouldn't you ?
But I agree that 5.295s sounds a lot. We should investigate why ListPod() is taking so much time.

[2017-05-12 19:07] devimc commented on #133
@sboeuf it takes long time to return because there a lot of pods in ```/var/lib/virtcontainers/pods/```
and int this chunk of code the for iterates a lot of times
[code]

[2017-05-12 19:09] devimc commented on #133
@sboeuf seems like the same error is present in the ```run``` command, I added the calls to ```vc.StopPod()``` and ```vc.DeletePod()``` and the issue has gone , but it still occurs in docker

[2017-05-16 10:17] jodh-intel commented on #100
Linked to #99.

[2017-05-16 11:13] jodh-intel opened #135 "Allow partial containerIDs to be specified to all CLI commands."

[2017-05-17 07:18] dlespiau opened #138 "/dev/shm: The docker specified value and defaults are not propagated"
_From @mcastelino on May 12, 2017 22:23_

Clear Containers sets up /dev/shm within the VM. It cannot use the /dev/shm created by docker within the container mount namespace as /dev/shm should be based directly off of ram.

However the /dev/shm setup by clear container does not honor the parameters passed in by docker.
Clear containers sets up a fixed size /dev/shm, where as docker sets it up to be

[2017-05-17 07:18] dlespiau commented on #138
Could this be a 3.0 task or do we have a reason to do it for 2.1?

[2017-05-17 07:18] dlespiau commented on #138
_From @mcastelino on May 17, 2017 0:58_

@dlespiau this can be a 3.0 task as it does not currently impact most users.

[2017-05-17 13:24] #135 closed

[2017-05-18 06:20] dlespiau opened #142 "Support having a prefix in our installation targets"
That's the way packages are usually configured with a path to be installed in. We should have one so distros can configure where they want the runtime files installed (and so we can install the runtime in a separate prefix from the system one for development). Additionally each directory (BINDIR, SYSCONFDIR, ...) should be individually overridable.

[2017-05-18 15:26] devimc opened #144 "runtime standalone: run several containers reduce the boot time progressively"
${RUNTIME} --debug --log runtime.log run --pid-file "${BUNDLE}/pid" --bundle "${BUNDLE}" --console $(tty) "${CONTNAME}"

[2017-05-18 18:46] amshinde commented on #123
Docker sets certain paths in the container as readonly passed in the config.json:
"readonlyPaths": [
            "/proc/asound",
            "/proc/bus",
            "/proc/fs",
            "/proc/irq",
            "/proc/sys",
            "/proc/sysrq-trigger"
        ],

Reference: https://github.com/opencontainers/runtime-spec/blob/c83b8c80fd87c6e3c5ffaa01c262e680dc809880/specs-go/config.go#L17

[2017-05-18 23:56] amshinde opened #149 "root.readonly not supported"
Refer: https://github.com/opencontainers/runtime-spec/blob/master/config.md#root

[2017-05-19 10:09] #83 closed

[2017-05-19 12:42] #144 closed

[2017-05-19 15:25] #133 closed

[2017-05-19 20:03] gorozco1 opened #152 "Enable package building for different distros in OBS"
We need to enable package building for different distros with cc 3.0 like we do with CC 2.1

[2017-05-20 21:53] sameo commented on #152
@gorozco1 Could we please make that one a high priority ? The sooner we allow people to easily deploy Clear Containers 3.0, the better. And it's now in a state where it's ready to be tested by more than our core team.

[2017-05-22 13:15] dlespiau opened #154 "Add gometalinter to CI"
There are a few warnings from gometalinter on the runtime. Would be nice to address them and start using gometalinter on this project.

[2017-05-22 13:25] jodh-intel opened #155 "exec is broken after the latest re-vendor"
Commit c9cb65c246ccece7cfc53839d6e0a48b2c9228f3 from #146 appears to have broken `exec`:

[code]

[2017-05-22 13:34] dlespiau commented on #155
we need testing :(

[2017-05-22 13:39] jodh-intel commented on #155
`+<very_large_number>` :((

[2017-05-22 13:42] sboeuf commented on #155
I more than agree with that ! We are currently only testing that docker run busybox ifconfig works but we need tests for every command. Even very basic tests will be fine as long as we make sure that all commands are covered.
BTW, here is the fix: https://github.com/clearcontainers/runtime/pull/156

[2017-05-22 13:46] sboeuf commented on #155
Well, that's the purpose of clearcontainers/tests. But I think that we should temporary add a few tests to semaphore CI so that we can detect if we break something while we are waiting to get the full testing ready.

[2017-05-22 13:53] jodh-intel commented on #155
I know :) But we haven't actually added the bats tests there yet.

Yep - we need something sooner rather than later.

[2017-05-22 14:01] dlespiau commented on #155
Should we close this now that https://github.com/clearcontainers/runtime/pull/156 is in?

[2017-05-22 14:03] sboeuf commented on #155
yes

[2017-05-22 14:03] #155 closed

[2017-05-22 14:15] dlespiau opened #157 "Write some instructions for a developer to get started with 3.0"

[2017-05-22 14:18] jodh-intel commented on #155
We really should set up https://github.com/clearcontainers/tests/tree/master/cmd/checkcommits for this repo too ;-)

[2017-05-22 15:23] devimc opened #158 "failed to run clear container standalone"
## command
[code]

## current output:
[code]

## expected output:
[code]

the issue is that terminal is already the controlling terminal of a different session group, to allow spawned process use assigned terminal we have to steal it form the session group (TIOCSCTTY with arg=1)

[2017-05-22 15:25] jodh-intel opened #159 "kill does not support "-a" / "--all""
The option is accepted, but does nothing.

[2017-05-22 15:37] devimc commented on #158
proposed fix https://github.com/devimc/go/commit/559e40cd92c0fa447d997d680adf170aec2295ae

[2017-05-22 15:49] devimc commented on #158
filed an issue in golang/go https://github.com/golang/go/issues/20454

[2017-05-22 15:57] dlespiau commented on #158
Seems like the easier way to go about this is to not support `--console $(tty)`. We could do what runc does when specifying `/dev/ptmx` as console path.

[2017-05-22 17:07] amshinde commented on #149
Closing this with : https://github.com/containers/virtcontainers/pull/262

[2017-05-22 17:07] #149 closed

[2017-05-22 17:07] #159 closed

[2017-05-23 11:30] dlespiau opened #163 "Error response from daemon: Driver devicemapper failed to remove root filesystem"
From the mailing list:

[code]

[2017-05-23 13:09] dlespiau opened #164 "Add config fields for max vCPUs and memory for uncontrained containers"
From the mailing-list:

[code]

[2017-05-23 13:10] dlespiau commented on #164
We should probably convey that this setting is for the unconstrained
case something like unconstrainedMaxVCPUs and unconstrainedMaxMemory.

It also sounds like it's really time to up our game with documentation and have a sysadmin view to explain this. I'll define and open more tentative tasks around documentation.

[2017-05-23 15:29] GabyCT commented on #163
@dlespiau that error is something that we have been seen in 2.1 https://github.com/01org/cc-oci-runtime/issues/795

[2017-05-23 15:43] dlespiau commented on #163
Indeed! One logical hypothesis we can do here is that the qemu process is still using the rootfs when the docker daemon is trying to clean up after the container.

[2017-05-23 16:36] dlespiau commented on #164
Given how the other options are named, we should try to be consistent:

[code]

We'll need to be able to parse the various KB, MB, GB, ... suffixes for the memory parameter (with unit-tests).

For the section name, maybe we could use put those values in the [hypervisor.xxx] sections? there are hypervisor parameters after all.

[2017-05-23 22:17] dlespiau opened #166 "Remove the manual step configuring docker in our installation instructions"
We should always be looking for ways to remove steps in our install process. This issue is about the step where the user is told to configure the docker daemon to add a new runtime. We could quite easily install the `/etc/systemd/system/docker.service.d/clr-containers.conf` in `make install` (note: rename that file to clear-containers.conf to be consistent with the rest of the names).

There is th

[2017-05-24 02:19] wuzhy opened #167 "The VM *isn't* destroyed when cc container is removed"
When cc 3.0 container is removed, i found that its QEMU VM still is there. It isn't correct.
root     16190     1  0 May23 ?        00:00:26 /usr/local/bin/qemu-system-x86_64 -name pod-b7c352f00cb6c622de16b417d121086e43bd47f40a687b3bd62ac35b2c96ee3a -uuid 62376333-3532-6630-3063-623663363232 -machine pc-lite,accel=kvm,kernel_irqchip,nvdimm -cpu host -qmp unix:/run/virtcontainers/pods/b7c352f00cb6c

[2017-05-24 08:02] wuzhy commented on #157
where is the output? or how to find these instructions?

[2017-05-24 08:12] jodh-intel opened #168 "Move SemaphoreCI tests to in-repo script"
The SemaphoreCI setup currently has a lot of "build settings" (commands to run for the build).

All these commands should be moved into a script in the repository below `.ci/` so that the SemaphoreCI build settings can have a single command for setup, build and cleanup/teardown. The approach adopted for `cc-oci-runtime` seems like the best as those 3 scripts can be used for Travis, Semaphore or an

[2017-05-24 10:27] dlespiau commented on #157
This task hasn't started so there's no documentation yet. As part of doing this, where to find the instructions very visible in the README.md and the URL should be part of the comment closing this issue.

[2017-05-24 14:27] sboeuf commented on #168
I agree with this, we only want one call to each script for every step (Setup/Job1/After in Semaphore CI).

[2017-05-24 22:35] wuzhy commented on #167
Can anyone help look into this issue?

[2017-05-24 22:47] wuzhy commented on #163
Does this issue has any progress? or if the patch is ready, i maybe help retest it, thanks.

[2017-05-24 22:51] wuzhy opened #170 "networking: add vhost-user support for cc 3.0"
cc 2.1 support ovsdpdk, but cc 3.0 doesn't still support it.

[2017-05-24 22:59] wuzhy opened #171 "cc 3.0 failed to start when its specified memory is less than 256M"
When the specified memory is less than 256M, cc 3.0 will fail to start.
Is there any plan to add support clear container with 32M, 64M or 128M memory size?

[2017-05-24 23:06] wuzhy commented on #157
got it, thanks. It will be appreciated if a guide about how to play with cc 3.0 on CentOS is provided.

[2017-05-25 00:06] wuzhy opened #172 "The docker failed to be started after cc 3.0 is reinstalled"
[root@192 runtime]# sh -x .ci/install_cc_runtime.sh
...
Redirecting to /bin/systemctl start  cc-proxy.service
Warning: cc-proxy.service changed on disk. Run 'systemctl daemon-reload' to reload units.

[root@192 runtime]# docker ps
CONTAINER ID        IMAGE                                          COMMAND                  CREATED             STATUS              PORTS                   NAMES
8425e4f

[2017-05-25 08:26] dlespiau commented on #171
We haven't looked at those memory sizes, but we might if people need it. It also depends on the exact reasons why we can't start at these lower memory sizes. Do you have more information (logs, error messages) about the failure you encounter?

[2017-05-25 08:27] dlespiau commented on #170
Right that's indeed part of the plan. We don't have any timeline we can share for this one though.

[2017-05-25 08:30] dlespiau commented on #167
Could you include what you did so we can reproduce this more easily? is that with a `docker run` command?

[2017-05-25 08:33] dlespiau commented on #172
This is a script to install clear containers on a one-shot CI machine (the environment is discarded after the CI run), so it doesn't have to be idempotent. That said we still need to have a better way for people to install the cc runtime from source (issue #157).

[2017-05-25 08:40] dlespiau commented on #103
We want a new repo. We're already versioning them, so we can just add a 3.0 one next to the others.

[2017-05-25 08:44] dlespiau commented on #152
This is a duplicate of #103. Close this one as it's newer.

[2017-05-25 08:44] #152 closed

[2017-05-25 14:01] sboeuf commented on #167
Please provide more context about what you did, otherwise it will be complicated for us to help with that issue.

[2017-05-25 14:20] dlespiau opened #173 "unhelpful error message: "exit status 1\n"."
Trying to make things work but have a message not telling me anything useful (something that I can fix):

[code]

[2017-05-25 14:42] dlespiau opened #174 "error message with docker run: "Did not receive the pod started notification""
"from time to time", I have this message from the runtime. This may happen or not without changing anything, so it maybe a race somewhere. It would also help if the message was more meaningful, does that mean qemu had problems starting, ...?

Also this message is repeated twice, could it be that the runtime prints that on stdout/err but shouldn't?

[code]

[2017-05-25 15:30] dlespiau opened #175 "create doesn't support relative bundle paths"
Relative paths ought to work

[code]

Note how list gives back the relative paths instead of resolving the path to an absolute path in the first place.

[2017-05-25 16:01] dlespiau opened #176 "create failing is not properly handled"
(updated to be actually correct, runc doesn't create a container if create fails)

Comparing runc with cc-runtime, when create fails we shouldn't leave the container behind. The spec is somewhat unclear on that: https://github.com/opencontainers/runtime-spec/blob/master/runtime.md#create

with cc-runtime:

[code]

with runc:

[code]

[2017-05-25 16:38] dlespiau opened #177 "'list' shows an erroneous "ready" status"
I think that happens after created, we return the pod status instead of OCI translation:

[code]

[2017-05-25 17:00] dlespiau opened #178 "install_cc_env_ubuntu.sh (and other scripts) is(are) both in this repo and in tests"
There should be only one! probably in tests so it can be shared between projects.

[2017-05-25 17:18] dlespiau commented on #173
This happens when the pause bundle isn't correctly setup!

[2017-05-25 17:48] dlespiau commented on #4
This command has been implemented. Closing. Bugs should be opened as separate issues.

[2017-05-25 17:48] #4 closed

[2017-05-25 17:49] dlespiau commented on #5
kill has been implemented. Some improvements (like the support of --all) is tracked elsewhere. Closing.

[2017-05-25 17:49] #5 closed

[2017-05-25 17:51] dlespiau commented on #12
@sameo now that CRI-O knows about privileged containers we can close this one right?

[2017-05-25 17:55] dlespiau commented on #49
We expose annotations in the container state, virtcontainer uses them. I think we can close this one. Do re-open if you think otherwise.

[2017-05-25 17:55] #49 closed

[2017-05-25 17:59] dlespiau commented on #125
This is now an option in a config file. I think that fit the bill.

[2017-05-25 17:59] #125 closed

[2017-05-26 07:30] dlespiau opened #179 "run: Improve stdin support"
At the moment we assume `isatty(0)` is true in PR #169. We could make `cc-runtime run` work when stdin is a pipe of a file (no need to set the underlying terminal in raw mode then).

[2017-05-26 10:49] dlespiau commented on #174
Reproducing this one may be hard. Once thing for sure is that I didn't have a well setup pause binary.

[2017-05-26 11:29] dlespiau commented on #176
To easily reproduce a failing `create`:

[code]

[2017-05-26 11:36] dlespiau commented on #176
Two more things to add there. When create is failing we also need to:

- not leave the qemu process behind
- free the proxy resources (if we've done a RegisterVM already)

Today:

[code]

[2017-05-26 14:27] #177 closed

[2017-05-26 15:11] devimc commented on #158
closing this issue because we can't support ```--console $(tty)``` since this is a limitation of golang (processes can't steal tty)

[2017-05-26 15:11] #158 closed

[2017-05-26 15:17] devimc opened #181 "Add support to run Clear Containers standalone"
Run command should be able to allocate pseudo terminal in order to be able to use Clear Containers standalone. If ```/dev/ptmx``` or ```/dev/pts/ptmx``` is provided as console argument then the runtime should allocate a pseudo terminal and link it to current terminal

[2017-05-26 15:40] amshinde commented on #174
I can confirm I have seen this issue in the past with incorrectly setup pause binary.

[2017-05-26 16:00] jodh-intel commented on #173
With #182, you'll now get the following error if the pause bundle path doesn't exist:

[code]

Or if the directory exists and the pause binary doesn't:

[code]

[2017-05-26 16:01] dlespiau commented on #173
\o/

[2017-05-26 16:06] jodh-intel commented on #174
Maybe #182 will resolve this.

[2017-05-26 16:10] dlespiau commented on #174
That sounds correct, with #182 we won't go far enough to trigger this.

[2017-05-26 21:22] #173 closed

[2017-05-27 01:57] wuzhy commented on #167
I set up a cc 3.0 env on CentOS 7.2, after a cc container was run, i only executed "docker rm -f containerid", and then this container was removed, but its VM is still there.

[2017-05-27 02:44] wuzhy commented on #171
const (
        //defaultMemSize        = "2G"
        //defaultMemMax         = "3G"
        //defaultMemSize        = "512M"
        //defaultMemMax         = "1G"
        //defaultMemSize        = "256M"
        //defaultMemMax         = "512M"
        defaultMemSize        = "128M"
        defaultMemMax         = "256M"
        defaultMemSlots uint8 = 2
)

[root@192 runtime]# docker run -itd -

[2017-05-27 02:56] wuzhy opened #185 "ovs: failed to recreate ovs network after it was removed"
HI

After ovs network is removed, it fail to recreate ovs network. But after dockered is restarted, it can create ovs network successfully.

[root@192 runtime]# cc-runtime version
cc-runtime  : 3.0.0-alpha.0
   commit   : 94749ee99165fd367e899d6ccb754f81e7d12e5e-dirty
   OCI specs: 1.0.0-rc5
[root@192 runtime]#
[root@192 runtime]# docker ps
CONTAINER ID        IMAGE

[2017-05-27 03:33] wuzhy commented on #164
OK, i will try to take this development fo this feature

[2017-05-27 05:50] sboeuf commented on #164
@wuzhy Yes that sounds good. Could you explain briefly the way you want to implement it before you submit a PR. I would like that we are on the same page so that you don't waste your time implementing a design that we don't agree with.

[2017-05-27 10:56] dlespiau opened #186 "Add a way to generate a coverage-instrumented cc-runtime binary"
I think it should be possible to be inventive and trick `go test` into building a [coverage-enable](https://blog.golang.org/cover) `cc-runtime` binary.

Once we have that binary, say `cc-runtime.coverage`, we could run functional tests with it and make it output coverage data. That coverage data could then be aggregated with the data from the regular `go test` to produce the final coverage % (whic

[2017-05-27 21:08] dlespiau opened #187 "Remove the --debug"
Now that we can control logging from the config file, I don't believe we need this command line option.

[2017-05-28 21:42] dlespiau opened #188 "CRI-O support"
cc-runtime should be able to work under CRI-O.

[2017-05-29 15:35] gorozco1 commented on #103
@sameo @dlespiau could you please tag the components in github.com/clearlinux (runtime, shim, proxy to enable packaging @ OBS. **3.0.0-alpha0** might work

[2017-05-29 15:46] gorozco1 commented on #103
@sameo @dlespiau Nevermind, I will use my own clones and see whtat's the best approach for taggging

[2017-05-29 19:34] dlespiau commented on #186
Ok, I think I've solved that one :) http://damien.lespiau.name/2017/05/building-and-using-coverage.html

[2017-05-30 11:27] dlespiau opened #191 "Run functional tests with a coverage-instrumented binary"
Once https://github.com/clearcontainers/runtime/issues/186 is solve and once we have functional testing for `cc-runtime` we should run those tests with the instrumented binary and report the aggregated coverage. To be more clear:

1. Run the unit tests, producing their coverage profile:

[code]

2. Produce the cc-runtime.coverage binary (could be renamed to cc-runtime)

[code]

3. Run functional t

[2017-05-30 14:35] #181 closed

[2017-05-30 18:41] egernst opened #192 "Set VM parameters from a configuration file rather than hardcode"
Want to make sure that the same settings for number of slots, max memory and default memory for the VM is a parameter and not hardcoded in an equivalent to hypervisor.args.

This is a 3.0 equivalent to the following 2.1 issue: https://github.com/01org/cc-oci-runtime/issues/805

[2017-05-30 20:18] dlespiau commented on #192
I think this is already covered by https://github.com/clearcontainers/runtime/issues/164. Closing. If you don't think that's the case, please to re-open.

[2017-05-30 20:18] #192 closed

[2017-05-30 21:01] egernst commented on #192
That's fine, but I'll likely add more specific requirements on 164, then.

[2017-05-30 21:03] egernst commented on #164
I want to make sure that parameters for memory also include:
-default amount of memory (memory at boot)
-maxmem
-number of memory slots

These are three parameters which ultimately need to be provided to QEMU which should be configurable.  For example:
-m
2G,slots=2,maxmem=3G

should be:
-m
@VM_MEM@,slots=2,maxmem=@VM_MEM_MAX@

An equivalent 2.1 requirement with further details on why this is need

[2017-05-30 21:12] dlespiau commented on #164
Why do you need the number of slots? 01org/cc-oci-runtime#805 doesn't seem to give a reason for that one.

[2017-05-30 21:15] egernst commented on #164
Currently, 2 is the correct amount (since we "hotplug" the nvdimm).  I'm not sure of a scenario where we'll need to hotplug any more than this, but was just listing out the possible RAM parameters that are otherwise hardcoded (the other two are definitely needed).

[2017-05-31 06:04] sboeuf commented on #164
@wuzhy @egernst Is one of you working on this one ?

The idea to get this one working is first to extend some `Resources` here: https://github.com/containers/virtcontainers/blob/master/pod.go#L236-L243

Then you can add some configuration fields in the config.go here: https://github.com/clearcontainers/runtime/blob/master/config.go#L80-L84, corresponding to the new fields you expect to be filled i

[2017-06-01 16:21] GabyCT opened #196 "Rework the ci to use only 3 scripts"
As it was discussed in PR #195, there should be only 3 scripts
* setup.sh to install packages and setup the environment
* run.sh to test the PR
* teardown.sh to clean the environment

[2017-06-01 16:33] #186 closed

[2017-06-01 21:24] devimc opened #197 "export loadConfiguration and implement SaveConfiguration"
the runtime is the only one that know how to manipulate its configuration hence in order to do not duplicate code and keep compatibility between projects loadConfiguration should be exported and SaveConfiguration should be implemented.
Tests should be able to generate runtime configuration files in order to use local($GOPATH) versions of cc-shim and cc-proxy

[2017-06-01 21:35] sboeuf commented on #197
Could you elaborate why we need `LoadConfiguration()` and `SaveConfiguration()` from other projects ? Not sure to understand the final usage for that.

[2017-06-02 13:33] #197 closed

[2017-06-06 18:46] wuzhy commented on #164
@sboeuf sorry for late reply, Today i spent some time to develop this feature, just push it to my github, and submit a pull request, if you have time, can you help review? thanks.
https://github.com/clearcontainers/runtime/pull/198

[2017-06-07 12:42] jodh-intel commented on #168
Any update on this? `master` is currently broken due to an incorrect semaphore script (coupled to another bug admittedly). But, we should have all our CI scripts -- including where possible how to run them -- under version control.

[2017-06-07 12:45] jodh-intel commented on #168
The problem btw seems to be that this semphore build step...

[code]

... should be setting `$GOPATH` to `$GOPATH/src/github.com/clearcontainers/tests/vendor/` before running `make check`. See:

- The build error:

  https://semaphoreci.com/clearcontainers/runtime/branches/master/builds/51

- The other related bug:

  https://github.com/clearcontainers/tests/pull/50

[2017-06-07 18:21] bktan8 opened #200 "Docker "stats" under CC run doesn't work properly"
The only stat that updates is the NET I/O.  All other stats (CPU %, MEM USAGE, MEM %, BLOCK I/O, PIDS) are 0.

[2017-06-07 18:25] bktan8 opened #201 "Autocompletion for Docker/CC commands, options, container ID doesn't work in CL"
In other distros, autocompletion for Docker commands, options, container ID works. But it doesn't work on CL. For example, in Ubuntu, if you start a container, Docker shows a very long container ID. You can simply stop it by issuing "docker stop" + the first couple of digits of the container ID, press <TAB>, and it will autocomplete. Doesn't do that on CL.

[2017-06-08 09:14] jodh-intel commented on #187
We might be able to remove `--debug`, but we cannot remove `--log` and `--log-format` as those are passed to the runtime by docker (if `runc` (well `docker-runc`) supports it, we need to too).

[2017-06-08 09:24] jodh-intel commented on #168
Semaphore is now working. For reference, here are the scripts currently being run:

# Setup

[code]

# Job 1

[code]

# After job

[code]

[2017-06-08 09:36] dlespiau commented on #187
Edited the issue accordingly.

[2017-06-08 15:59] devimc opened #202 "run commmand does not forward exit code"
running a container with 'false' as workload, always returns 0

[code]

[2017-06-08 16:16] chavafg commented on #168
I can take this issue if @sboeuf do not have a chance to do it.
My proposal is:

1. use the CI scripts in the `clearcontainers/tests` repo and deprecate the ones here.
2. On semaphore settings:
    - Setup will only call `./setup.sh`
    - Job 1 will only call `./run.sh`
    - After job will only call `./teardown.sh`

If we want to modify something in the CI, we will change the scripts instead of

[2017-06-08 16:28] jodh-intel opened #204 "Add "cc-check" command"
Add a `cc-check` sub-command that will perform the container-specific tests currently provided by [1].

We should not expect users to have to download and run a shell script from a different site to the one hosting the runtime: the runtime should provide the feature itself.

We could simply incorporate these checks into the runtime startup codepath. However, that seems inefficient since the runtim

[2017-06-08 16:45] dlespiau commented on #204
`cc-check` maybe?

[2017-06-08 16:49] jodh-intel commented on #204
Yes, it looks ugly, but I guess we should "namespace" since `runc` doesn't provide this.

[2017-06-08 21:26] sboeuf commented on #164
@wuzhy That's great, thanks for your work. Please follow comments from @jodh-intel on #198 so that you comply with the expected way to implement this.

[2017-06-08 22:09] sboeuf commented on #168
@chavafg I am more than happy if you can handle this :)
I agree with what you will do, and that's the right approah IMO.
However there is one thing I would like to clarify. I think that we should have `setup-runtime.sh`, `run-runtime.sh` and `teardown-runtime.sh` for the runtime, `setup-virtcontainers.sh`, `run-virtcontainers.sh` and `teardown-virtcontainers.sh` for virtcontainers, and other scrip

[2017-06-09 07:56] #202 closed

[2017-06-09 10:59] grahamwhaley commented on #176
@MarioCarrilloA just fyi, I believe this is the same issue you were seeing when your system ran out of RAM resource, failed to create a container, and thus left a QEMU hanging around - I think...
Hmm, still, on second thoughts, if you were short on RAM resource then I believe it was probably the QEMU create that will have failed (QEMU would refuse to start due to lack of available memory to map) -

[2017-06-09 16:38] chavafg commented on #168
Assigned this item to myself.

@sboeuf I think I am not following you.

Why should the CI scripts be different for the other repos?
We are going to execute all tests for all repos, right? If so, the scripts should be the same to setup the environment and to run the tests.

[2017-06-09 16:54] sboeuf commented on #168
@chavafg Do you expect to have the same setup, same tests for every repo ?
I mean the shim setup is different (less steps) from the runtime setup. You don't need to setup as many things as you do with the whole runtime chain.
And you can imagine some very basic tests for the shim that have nothing in common with the runtime.

I imagine clearcontainers/tests as a database of all scripts that we nee

[2017-06-12 10:14] jodh-intel commented on #168
@sboeuf - I'm slightly confused. I think you are saying that each system component that clones https://github.com/clearcontainers/tests will want to be able to call "component-specific" scripts that will live in https://github.com/clearcontainers/tests?

Couldn't we just pass a parameter to the scripts/Makefiles somehow so that the `tests` repo will do the right thing for whichever component it is

[2017-06-12 13:03] sboeuf commented on #168
@jodh-intel Yes that's a good idea, no need to duplicate everything that way. But I really wanted to make sure that we were not expecting the same setup/run/teardown for every project.

[2017-06-12 13:27] jodh-intel commented on #168
I think there might be some confusion here still; all I'm suggesting is that for any of our projects, we should only ever need to specify up to 3 scripts for any of our CI systems (setup, build, teardown). That makes it easy to, say, reconfigure Semaphore as you don't have to paste a ton on shell script into their web interface.

Those 3 scripts can have the same names in all the repos but I'm cer

[2017-06-12 13:36] sboeuf commented on #168
Sounds good to me :)

[2017-06-12 14:10] gorozco1 opened #206 "Installing from source "configuration.toml" is under /usr/local/etc/clear-containers/"
Runtime always looks in ``/etc/clear-containers/configuration.toml``. When installing from source without specify a different  --prefix is installed under /usr/local and runtime can't read configuration file.

The user needs to manually create directory  ``/etc/clear-containers/`` and copy ``configuration.toml`` there.

[2017-06-12 14:32] jodh-intel opened #207 "reword or add comments for cgroupsPath error in processCgroupsPath()"
`processCgroupsPath()` currently does this:

[code]

This is confusing as it is not clear which of the following is the problem (one or both):

- the path is absolute
- the path does not exist

See:

- https://github.com/clearcontainers/runtime/pull/147/files#r121350919

[2017-06-12 16:07] devimc opened #208 "run command shouldn't duplicate stdin/stdout when they are not present"
when a container is launched using the ```run ``` command, the ```runtime``` shouldn't duplicate ```stdin``` and ```stdout``` when  they are not present.
For example when the container is launched by ```ginkgo``` or ```go test```

[2017-06-13 10:23] sameo commented on #103
@gorozco1 Any updates on that one ?

[2017-06-13 17:09] devimc opened #212 "run a container without a pid file creates the container but reports an error"
run a container without --pid-file option
[code]

The container and the VM are created but an error is reported and the container cannot be started

[2017-06-13 17:16] dlespiau commented on #201
Hi,

What do you mean by CL? Clear Linux? This repository is about Clear Containers, we don't take issues with Clear Linux unfortunately.

[2017-06-13 17:18] dlespiau commented on #200
Indeed. Those stats depend on having cgroups for the containerized workload, which CC replaces by a VM. Note that, in the future, we'll probably add crgoups inside the VM and will be then able to obtain those stats. It's still a bit far out though.

[2017-06-13 17:20] jcvenegas commented on #201
@bktan8  you can follow this in Clear Linux ML: dev@lists.clearlinux.org

[2017-06-13 17:59] bktan8 commented on #201
CL = Clear Linux.

[2017-06-13 17:59] #201 closed

[2017-06-13 23:30] #208 closed

[2017-06-14 16:29] chavafg opened #215 "cri-o tests failed on semaphore build"
I think we have an intermittent issue, not sure if related to the runtime or the crio tests.

Build [1] lasted more than usual (15 mins). Seems that it got stuck running the CRI-O tests, so I stopped the job and started a new one. The new job ended successfully [2].
I couldn't get the logs from the runtime. Will try to reproduce locally and add more information.

[1] https://semaphoreci.com/clearc

[2017-06-14 16:33] jodh-intel commented on #215
Just hit this on #214 too:

- https://semaphoreci.com/clearcontainers/runtime/branches/pull-request-214/builds/2

[code]

[2017-06-14 16:54] jodh-intel commented on #215
Hmm, rebuilding `master` also fails at this point (a timeout?):

https://semaphoreci.com/clearcontainers/runtime/branches/master/builds/67
[code]

@sameo, @sboeuf - could one of you take this issue?

[2017-06-14 16:59] sboeuf commented on #215
@jodh-intel this is weird...
I sometimes got some issues like this (only with Semaphore), but the worst is that the test is not even failing. It is kind of a deadlock happening during the build of CRI-O.

I can be the owner, but at this point I honestly don't know what is happening with Semaphore and why it is sporadic.

[2017-06-14 21:02] #168 closed

[2017-06-15 07:40] #212 closed

[2017-06-15 10:31] jodh-intel opened #219 "Consider switching to a better vendoring tool"
We switched to using the `godep` tool on commit 8b5dd1221755832c42f5a3e51515e6145a2e693c. However, it is sometimes unreliable. We have been fighting most of this morning to re-vendor against https://github.com/containers/virtcontainers/releases/tag/1.0.0-rc.0, but `dep` would fail whatever we did.

We need to consider the alternatives as `godep` is advertised as "alpha" and its foibles are startin

[2017-06-15 11:37] dlespiau commented on #219
FWIW, the last time I looked, `govendor` would have been my choice. This may have changed though.

[2017-06-15 13:34] jodh-intel commented on #215
This is also affecting #220.

[2017-06-15 14:14] sboeuf commented on #219
You want to switch to another vendoring tool again ?

[2017-06-15 14:17] dlespiau commented on #219
`¯\_(ツ)_/¯`

[2017-06-15 14:18] sboeuf commented on #219
what does that mean ?

[2017-06-15 14:31] jodh-intel commented on #219
Well, we need one that works more reliably than `go dep` :smile:

[2017-06-15 14:34] dlespiau commented on #219
That was a shrug!

[2017-06-15 14:38] jodh-intel commented on #219
@dlespiau - You should have written it in Greek! (https://github.com/clearcontainers/tests/pull/66) :smile:

[2017-06-15 15:28] jodh-intel commented on #215
This is horrid, but if you manually click "rebuild" a few times, you can generally get the crio tests to pass.

Until we work out why this is happening, we should really disable the tests (if it wasn't for the hard lock up, we could do "soft disable" where we run the tests but don't fail if they do to help us gather more data points).

[2017-06-15 19:08] devimc opened #223 "docker: run a container without a terminal (-t) fails"
running a container with a terminal works
[code]

[2017-06-15 19:18] sboeuf commented on #223
Are you able to reproduce this consistently ?
Because I tried and it works for me.

[2017-06-15 19:18] devimc commented on #219
semaphoreCI [1] recommends ```godep```[2] to achieve faster build times

[1] https://semaphoreci.com/docs/go-continuous-integration.html
[2] https://github.com/tools/godep

[2017-06-16 00:28] sboeuf commented on #215
Should be fixed by https://github.com/clearcontainers/tests/pull/68
Please feel free to re-open if needed.

[2017-06-16 08:37] grahamwhaley commented on #223
and presumably we have, or soon will have, a functional test for this?

[2017-06-16 08:55] jodh-intel commented on #223
Seems to be working for me too with 831c54edd4439a507256ad3b8cecd4e629a9515f.

[2017-06-16 10:57] jodh-intel opened #226 "Enable checkcommits tool."
We should start checking the PR commits for common issues using the `checkcommits` tool:

- https://github.com/clearcontainers/tests/tree/master/cmd/checkcommits

[2017-06-16 12:21] #99 closed

[2017-06-16 12:57] devimc commented on #223
@sboeuf yes
[code]

[2017-06-16 13:14] devimc commented on #223
same issue with docker 17

[code]

[2017-06-16 13:15] jodh-intel commented on #223
My env:

[code]

[2017-06-16 13:19] #204 closed

[2017-06-16 13:22] jodh-intel opened #228 "Add a "cc-env" command"
It would be useful to have a `cc-env` command that shows information like:

- kernel being used.
- image being used.
- path to config file (maybe).

[2017-06-16 13:25] devimc commented on #223
runtime log
[code]

[2017-06-16 13:33] dlespiau commented on #228
I would add:
 - config (either file and the configuration as understood by the runtime)
 - runtime, shim, proxy versions
 - OS distro and version
 - host kernel version
 - CPU
 - some of the dmidecode fields (maybe)
 - if we are running inside a VM

[2017-06-16 13:44] jodh-intel commented on #228
That's a good list. And I totally agree that we need a simple way to collate all this information. But I'm wondering if this sort of info _might_ be better served by a helper shell script (although I appreciate that we've just merged #214, so maybe all of the above should also be "built-in"). I'll assume we're going for the built-in option for now though.

Regarding the proxy and shim versions, we

[2017-06-16 13:51] dlespiau commented on #228
The above should be somewhat straightforward to implement and not to burdensome  to carry around in the runtime. The main reason I see is avoiding extra steps for users to report the info we ask for.

[2017-06-16 13:54] jodh-intel commented on #228
Yes, I'm sold: we need to make it trivial to gather the information we need the user to paste into an issue.

[2017-06-16 15:55] jodh-intel opened #230 "Make config.go use values from build"
`config.go` currently hard-codes its default values. These values should be generated by the build.

This is a follow-on to https://github.com/clearcontainers/runtime/pull/225.

[2017-06-16 16:43] jodh-intel commented on #215
https://github.com/clearcontainers/tests/pull/73 just failed due to this issue I think:

- https://semaphoreci.com/clearcontainers/tests/branches/pull-request-73/builds/1

[2017-06-16 16:54] jodh-intel commented on #215
Again, a manual re-build seems to have fixed it.

[2017-06-19 17:05] devimc commented on #223
I set a new environment and it works

[2017-06-19 17:05] #223 closed

[2017-06-19 18:06] sboeuf commented on #223
Good to hear :)

[2017-06-20 08:32] grahamwhaley commented on #223
yes... and no. If we don't know what went wrong to make it do that, then it might come back to bite us in the future. Ideally we would have figured out what the problem was, but, I suspect it is/was too late once it was fixed.

[2017-06-20 22:20] sboeuf commented on #215
Fixed by clearcontainers/tests#74

[2017-06-21 11:07] #228 closed

[2017-06-21 14:36] jodh-intel opened #238 "Add shim version to cc-env output"
Blocked on:

- https://github.com/clearcontainers/shim/issues/32
- https://github.com/01org/cc-oci-runtime/issues/981

(Note: No bump to `formatVersion` is required for this change).

See: #228.

[2017-06-21 14:37] jodh-intel opened #239 "Add proxy version to cc-env output"
Blocked on:

- https://github.com/clearcontainers/proxy/issues/69
- https://github.com/01org/cc-oci-runtime/issues/982

(Note: No bump to `formatVersion` is required for this change).

See: #228.

[2017-06-21 16:39] jodh-intel commented on #206
Now that #231 has landed, you can do what you need like this:

[code]

For the full list of variables to set to get expected paths:

- https://github.com/clearcontainers/tests/blob/master/.ci/install_runtime.sh#L26..L42

[2017-06-21 16:40] jodh-intel commented on #206
Also, you can `make help` to see defaults or, say, `make help SYSCONFDIR=/foo/bar` to see how that might affect the build.

[2017-06-22 16:31] chavafg opened #241 "Add documentation for installing Clear Containers 3.0 alpha with OBS packages"
Now that we are starting to releasing alpha versions of the CC 3.0 components and that they are being built  via OBS, we should document installation and configuration steps for Clear Containers to work with docker* .

This documentation will be posted in the wiki page of this repository.

[2017-06-22 20:08] chavafg commented on #196
This is already fixed with #210. Closing...

[2017-06-22 20:08] #196 closed

[2017-06-23 15:16] #226 closed

[2017-06-23 15:17] #230 closed

[2017-06-23 16:54] jodh-intel opened #244 "Set defaultRootDirectory via the build"
#235 missed a path: `defaultRootDirectory` is still hard-coded so needs to be generated like the rest.

[2017-06-26 12:08] sameo opened #248 "cc-runtime list when running with Kubernetes"
`cc-runtime list` always return an empty list when running on top of Kubernetes.

[2017-06-26 12:58] jodh-intel commented on #215
Just seen this on https://github.com/clearcontainers/runtime/pull/247

[2017-06-26 13:00] jodh-intel commented on #215
... and https://github.com/clearcontainers/runtime/pull/249 (https://semaphoreci.com/clearcontainers/runtime/branches/topic-crio/builds/1).

[2017-06-27 12:48] #215 closed

[2017-06-27 12:55] #175 closed

[2017-06-27 12:57] #244 closed

[2017-06-27 14:20] #248 closed

[2017-06-27 15:02] jodh-intel opened #256 "really enable checkcommits under TravisCI"
#227 only "half" enabled `checkcommits` [1] since `.travis.yml` isn't calling `.ci/setup.sh`.

---

https://github.com/clearcontainers/tests/tree/master/cmd/checkcommits

[2017-06-27 15:16] jodh-intel commented on #100
Fixed by #221.

[2017-06-27 15:16] #100 closed

[2017-06-28 08:00] #241 closed

[2017-06-28 10:56] jodh-intel opened #262 "Handle test coverage for non-root and root tests"
Some of the tests require `root` privs, and some must be run as a non-`root` user:

[code]

Identify if this necessitates a change to how we calculate test coverage.

The build and/or `.ci/go-test.sh` should probably error if running as a `root` user for a coverage run and have it run the tests twice (non-`root` and `root` via `sudo`) and merge the results.

[2017-06-28 12:52] #256 closed

[2017-06-28 13:36] sameo opened #264 "3.0.0-alpha.2 release"
Tag and release Clear Containers 3.0.0-alpha.2

[2017-06-28 13:50] #264 closed

[2017-06-28 16:04] jodh-intel opened #265 "Increase unit test coverage for cc-env.go."
The aim is to reach 100% and stay there of course ;)

[2017-06-29 07:27] jodh-intel opened #267 "support "create --console-socket ..." for docker 17.06"
See:

- https://github.com/01org/cc-oci-runtime/issues/1021
- https://github.com/opencontainers/runc/blob/master/create.go#L31.LL34

[2017-06-29 10:07] jodh-intel opened #268 "Copy arch docs from cc-oci-runtime repo"
The following files should be copied (and updated) for the new runtime:

- https://github.com/01org/cc-oci-runtime/blob/master/documentation/architecture.md
- https://github.com/01org/cc-oci-runtime/blob/master/documentation/architecture-diagrams.odp

[2017-06-29 10:09] jodh-intel commented on #268
As noted by @sameo, the diagrams should be converted to svg too.

[2017-06-29 10:19] jodh-intel opened #269 "Increase unit test coverage for cc-check.go"

[2017-06-29 13:06] jodh-intel opened #271 "stop users calling "go build" directly."
The project needs to be built using `make`, so disallow `go build`.

[2017-06-29 13:17] chavafg commented on #178
This was fixed some weeks ago by #210.

[2017-06-29 13:17] #178 closed

[2017-06-29 13:51] jodh-intel opened #273 "Increase test coverage for version.go"
Yep, it's only little, but it still deserves a test!

[2017-06-29 14:35] sboeuf commented on #267
This is also needed by CRI-O tests. We will be able to enable more tests with this option supported.

[2017-06-29 16:00] jodh-intel opened #275 "add a build target for a standard developer environment"
The build current defaults to installing files below `/usr/local/`. That is conventional , but not that useful as the developers on this project expect files to be in "standard" (for us) locations.

The get a "developer-sane" environment currently, the build needs to be run like this (in long-hande for clarity):

[code]

It would be helpful to add a new target that will use the settings above to w

[2017-06-29 16:13] gorozco1 commented on #206
@jodh-intel what I was thinking is that if the user compiles by hand with `configure && make && make install` the binary is installed under `/usr/local/bin`  and the configuration is installed under /usr/local/etc/clear-containers/configuration.toml`.  And cc-runtime is still looking for the configuration under `/etc/` not under `/usr/local/etc` and I should expect because the user installed every

[2017-06-29 17:59] erick0z opened #277 "Include virtcontainers-pause as part of cc-runtime"
As sameo mention on https://github.com/clearcontainers/packaging/issues/4, the bulld of the pause binary can be added to this repository.
This issue is raised here in order to make the PR (https://github.com/clearcontainers/runtime/pull/276) pass on Travis.

[2017-06-29 19:46] #265 closed

[2017-06-29 22:13] chavafg opened #278 "container gets stopped when an exec command with insufficient parameters is sent to the container"
Ran a container with `cc-runtime` stand-alone in detach mode. Then tried to run `exec` command with insufficient parameters for the running container, but the container got stopped, instead of kept running.

[code]

[2017-06-29 23:18] sboeuf opened #280 "Configure Clear Containers kernel parameters directly from the runtime"
Instead of hardcoding Clear Containers parameters from virtcontainers, let's do that from the runtime implementation instead, where it makes more sense.

[2017-06-30 07:30] jodh-intel opened #281 "cc-check should only warn if nested kvm is not available"
Nested kvm isn't strictly necessary to run a Clear Container. But without it, users won't be able to run a fully virtualised VM inside the Clear Container (which might be surprising).

Make `cc-check` warn if nested kvm support isn't available.

[2017-06-30 07:31] #269 closed

[2017-06-30 07:53] #280 closed

[2017-06-30 08:29] #273 closed

[2017-06-30 14:09] jodh-intel opened #284 "give variables for TOML sections clearer names"
Currently, we have variables like this:

[code]

The names of those variables only give a vague indication of what they are for. Rename them to make it clearer and add comments!

[2017-06-30 14:21] jodh-intel opened #286 "remove unused shimBinary variable"
`shimBinary` isn't used any longer

[2017-06-30 15:35] jodh-intel opened #289 "simplify build instructions in dev install doc"
Once both #288 and #261 land, we can simplify the runtime build instructions (remove the set of variables that need to be set and replace with one of the options listed in the commit message for  69e0b2ab3bdc64be2d9bfb489309fda9a37fac6d.

[2017-07-03 07:21] #277 closed

[2017-07-03 10:31] sameo opened #290 "No need to install virtconainers-pause binary anymore"
It's part of the cc-runtime-bin package

[2017-07-03 12:56] #157 closed

[2017-07-03 13:04] #284 closed

[2017-07-03 13:04] #286 closed

[2017-07-03 14:11] #238 closed

[2017-07-03 15:13] jodh-intel commented on #206
Hi @gorozco1 - I think #288 will handle the scenario you are describing.

[2017-07-03 16:14] sameo opened #292 "Support containerd 1.0"
Docker is planning to switch their stack from the current 0.2.4 `containerd to a completely new `containerd` [1.0](https://containerd.io/)  [implementation](https://github.com/containerd/containerd).

There are many architectural changes with this new `containerd` implementations, and we may be impacted by mostly 2 of them:

- A new GRPC interface for the shim. `containerd` no longer calls directl

[2017-07-03 16:38] sameo opened #293 "Support "cc-runtime create --console-socket <path>""
The latest implementation of `runc` support a new `create` command option:

[code]

We need to support this option to have CC 3.0 work with containerd 1.0 as it relies on it for all interactive containers.

[2017-07-03 16:39] sameo commented on #293
See #292

[2017-07-03 16:39] #290 closed

[2017-07-03 16:41] gorozco1 commented on #290
@chavafg ^^^ next tag `virtcontainers-pause` package will be removed.

[2017-07-03 16:46] chavafg commented on #290
ack, thx.

[2017-07-03 16:58] gorozco1 commented on #292
@devimc @jcvenegas @sameo  what about support for 2.1 ?

[2017-07-04 10:17] jodh-intel commented on #289
Now, just blocked on #288.

[2017-07-04 10:20] jodh-intel commented on #267
Superceded by #293.

[2017-07-04 10:20] #267 closed

[2017-07-04 10:21] jodh-intel commented on #239
Fixed by #283.

[2017-07-04 10:21] #239 closed

[2017-07-04 10:30] jodh-intel opened #294 ""list" doesn't show the container owner"
The `list` command shows a blank owner for each container.

[2017-07-04 10:33] jodh-intel opened #295 "Rename "--all" list option to "--cc-all" for consistency with other extensions."
The list command currently provides a `--all` option. That should be `--cc-all` since this is the standard we have adopted to signify extensions.

[2017-07-05 12:24] #295 closed

[2017-07-05 14:49] jodh-intel opened #299 "Add additional project approvers"
The pullapprove config doesn't have sufficient approvers in case of absences.

Add @dlespiau and @grahamwhaley.

[2017-07-05 15:55] #299 closed

[2017-07-05 16:47] jodh-intel opened #301 "document release process in wiki"
We need to document our release process in the wiki, as we do for CC 2.x:

- https://github.com/01org/cc-oci-runtime/wiki/Release-Process

[2017-07-06 09:21] #275 closed

[2017-07-06 12:52] dvoytik opened #302 "config-generated.go is not regenerated when Makefile and/or VERSION changed"
config-generated.go should be regenerated if Makefile and/or VERSION files changed.

[2017-07-06 14:01] dlespiau opened #305 "3.0.0-alpha.3"
Work around what I consider a bug in checkcommits: the release PR shouldn't require an issue.

[2017-07-07 09:12] #302 closed

[2017-07-07 19:10] grahamwhaley opened #306 "ci: go-static-checks inherited non applicable filter"
The `.ci/go-static-checks.sh` file retained some repo specific sed filtering when it was copied over, specifically here:
https://github.com/clearcontainers/runtime/blob/master/.ci/go-static-checks.sh#L53

That piece of sed filtering for `cc-oci-runtime` can be removed, and the rest of the script should be checked over whilst there.
See https://github.com/clearcontainers/tests/pull/110 for an examp

[2017-07-10 20:13] sboeuf opened #309 "Update .gitignore for pause directory"
Some files are generated by the build in the pause directory, they should be part of the .gitignore file.

[2017-07-10 22:43] #309 closed

[2017-07-11 14:15] sboeuf opened #312 "Travis build fails sporadically because go test timeout is too short"
Because the go test timeout is too short, and because travis can take some time to run each test sometimes, we run into sporadic failures that we should solve with a bigger timeout.

[2017-07-11 14:20] #305 closed

[2017-07-11 15:04] #312 closed

[2017-07-11 22:52] erick0z opened #313 ".ci: go-static-checks warning"
when running the .ci/setup.sh, in the gofmt step, it shows a warning due to a wrong find flag.

[2017-07-12 18:40] sboeuf opened #316 "Support "cc-runtime exec --console-socket <path>""
This new option has been introduced by the latest version of `runc` and we want to support it in order to be compatible with Docker 17.06.

[2017-07-12 18:41] sboeuf opened #317 "Support "cc-runtime run --console-socket <path>""
This new option has been introduced by the latest version of `runc` and we want to support it in order to be compatible with Docker 17.06.

[2017-07-12 20:08] #293 closed

[2017-07-12 20:08] #316 closed

[2017-07-12 20:08] #317 closed

[2017-07-12 21:26] sboeuf opened #318 "exec: Implement the detach option"
`exec` command does not support the attached mode, by default, everything is run as detached.

[2017-07-12 21:56] gorozco1 opened #319 "dev and user documentation are not sync"
The documentation for developers and users have sections in common but they differ, it also is using cc2.1 repository to setup artifacts for clear containers 3.0

https://github.com/clearcontainers/runtime/blob/master/docs/developers-clear-containers-install.md
https://github.com/clearcontainers/runtime/blob/master/docs/fedora-installation-guide.md
https://github.com/clearcontainers/runtime/blob/m

[2017-07-12 22:03] sboeuf opened #320 "Don't forward output in detached mode if no console or console-socket is provided"
In case our runtime is called with `run` or `exec` in detached mode, and no console is provided, we don't want to see output on the shell we use.

[2017-07-13 10:26] grahamwhaley opened #321 "docs: Add 'Fixes' requirement to CONTRIB doc"
The commit examples and rules in the CONTRIBUTING document do not cover our `checkcommits` `Fixes` requirement. Add them.

[2017-07-13 15:03] amyleeland commented on #188
@sboeuf  is this complete (code complete, tested and integrated)? Can we close this?

[2017-07-13 15:08] amyleeland commented on #103
@gorozco1 is this complete?

[2017-07-13 15:11] #188 closed

[2017-07-13 15:20] #154 closed

[2017-07-13 15:20] amyleeland commented on #154
Damien is doing something else

[2017-07-13 15:25] amyleeland commented on #102
Last bug is console socket @sboeuf  is working on this now and it is the last piece that needs to be complete for a beta release

[2017-07-13 15:26] #102 closed

[2017-07-13 22:00] sboeuf opened #323 "exec: Use container process specs and override if necessary"
When doing `exec`, we only rely on the option passed through the command line to setup the process environment. But `runc` expects that we use the options defined when the container was started, and to override them if necessary.

[2017-07-14 14:46] GabyCT opened #325 "pause command does not report a status"
While running the pause command, the status appears empty
$ cc-runtime run -d --bundle $PATH --console /dev/ptmx containerone
$ cc-runtime list
ID                      PID         STATUS
containerone   14760       running
$ cc-runtime pause containerone
$ cc-runtime list
ID                                   PID         STATUS
containerone                14912

[2017-07-14 14:51] GabyCT commented on #325
This was present using
cc-runtime  : 3.0.0-alpha.3
OCI specs: 1.0.0-rc5

[2017-07-14 16:46] #319 closed

[2017-07-14 18:30] #318 closed

[2017-07-14 19:33] #323 closed

[2017-07-14 20:01] sboeuf opened #326 "Standalone and detach=true/tty=true command (run, exec) should not output anything to the shell"
In case our runtime is used in standalone mode with the `--detach` and `--tty` flags enabled, we should not get any output on the current shell. In any case, we should still be able to get some outputs if a console has been provided.

[2017-07-17 14:09] #306 closed

[2017-07-17 14:13] gorozco1 commented on #103
@amyleeland yes, sorry for not closing weeks ago completed

http://download.opensuse.org/repositories/home:/clearcontainers:/clear-containers-3/

[2017-07-17 14:13] #103 closed

[2017-07-17 15:08] #321 closed

[2017-07-17 16:39] GabyCT opened #328 "running a container in detach mode is being stopped"
While running a container in detach mode, the container gets stopped

 Running in detach mode
cc-runtime run -d --bundle /home/cloud/rootfs --console /dev/ptmx containerone

 Check container state
 cc-runtime state containerone
{"ociVersion":"1.0.0-rc5","id":"containerone","status":"stopped","pid":23049,"bundle":"/home/cloud/rootfs","annotations":{"com.github.containers.virtcontainers.pkg.oci.bund

[2017-07-17 16:58] sboeuf commented on #328
@GabyCT Please remove the --console /dev/ptmx and this should work.

[2017-07-17 17:09] grahamwhaley commented on #328
Just to note - before we just remove that, we should check what happens with runc etc. and ensure we are functionally the same I think. Otherwise we might end up hiding a (should never happen, but...) corner case.

[2017-07-17 19:28] egernst opened #329 "move QEMU from pc-lite to pc machine type"
related to https://github.com/clearcontainers/packaging/issues/25

[2017-07-17 19:52] egernst commented on #164
PR 198 closed -- latest is being handled on PR https://github.com/clearcontainers/runtime/pull/297

[2017-07-17 20:01] egernst commented on #39
@mcastelino @GabyCT @grahamwhaley   -- are we running the networking PnP tests on 3.0 yet?

[2017-07-18 07:32] jodh-intel commented on #328
@sboeuf - how about we add a check to the runtime so that if `-d` and `--console` are specified, we error?

[2017-07-18 07:46] #313 closed

[2017-07-18 08:47] grahamwhaley commented on #39
We have done a hand run, and @bwarden is in the process of adding the tests to the https://github.com/clearcontainers/tests/pull/162 repo right now.

[2017-07-18 09:18] jodh-intel opened #330 "Include CC_SYSTEM_BUILD in "make help" output"
Document the `CC_SYSTEM_BUILD` variable in the `make help` output.

[2017-07-18 09:18] grahamwhaley commented on #328
I'm prone to ask what the spec says is acceptable and what we should do (and sure, I suspect the answer might be that it does not say...), and also what runc does - we should understand both of those before we make a choice I think.

[2017-07-18 14:03] grahamwhaley opened #332 "docs: add vendoring tools information"
To help devs with contributions, we should document which golang vendoring tools we use.
Given the presence of https://github.com/clearcontainers/runtime/blob/master/Gopkg.lock I am guessing we use https://github.com/golang/dep.
We could add the info either to the CONTRIB docs or the developer getting started guide I suspect.

[2017-07-18 14:31] sboeuf commented on #328
@grahamwhaley Well the spec does not say anything since this is about `run`. Thus, the reference is about runc, but runc recently moved to `--console-socket`, you're not supposed to provide `--console` anymore. But we still want this option for our runtime since we still want the backward compatibility with Docker 1.12 -> 17.05.

@jodh-intel we still want to be able to provide a console and start

[2017-07-18 14:34] grahamwhaley commented on #328
good summary @sboeuf thx!

[2017-07-18 15:06] jodh-intel opened #333 "Fix amusing typo"
j'aime la langue française, mais le code source doit être en anglais.

This seems to have slipped past the review for #54 when I first noticed it (https://github.com/clearcontainers/runtime/pull/54/files#r104643604).

[2017-07-18 15:41] grahamwhaley opened #335 "vendoring: update BurntSushi/toml to get new license"
The toml library we use updated to a new license (that fits us better) a little while back:
https://github.com/BurntSushi/toml/pull/184
re-vendor that package to pick it up.
https://github.com/clearcontainers/runtime/blob/master/vendor/github.com/BurntSushi/toml/COPYING

[2017-07-18 16:17] #335 closed

[2017-07-18 16:21] GabyCT commented on #39
@egernst , I think @grahamwhaley and @bwarden will work on that

[2017-07-18 16:28] grahamwhaley commented on #39
Yep. See:
- https://github.com/clearcontainers/tests/issues/149
- https://github.com/clearcontainers/tests/issues/170
- https://github.com/clearcontainers/tests/pull/162

[2017-07-18 16:29] egernst commented on #39
Next question is - -can we close this, then?

From: Graham Whaley [mailto:notifications@github.com]
Sent: Tuesday, July 18, 2017 9:28 AM
To: clearcontainers/runtime <runtime@noreply.github.com>
Cc: Ernst, Eric <eric.ernst@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [clearcontainers/runtime] Add networking benchmarks (#39)

Yep. See:

  *   clearcontainers/tests#149<https://github

[2017-07-18 16:39] mcastelino commented on #12
@dlespiau Just to clarify, we do not support host networking with clear containers. With CRI-O we have the option of running containers that need host networking to opt for a different runtime like runc.

[2017-07-18 16:40] GabyCT commented on #328
@sboeuf thanks that worked, however, I can see that the terminal gets distorted. Also, I see that after performing the running, the pause, the resume and if you want to kill the container, it does not do it, it always running so it can not be kill and delete it. Is that ok that I close this issue and create another one for the killing the container? Thanks

[2017-07-18 16:40] #330 closed

[2017-07-18 16:41] grahamwhaley commented on #39
PR has not landed yet. Once we get that landed then sure this should close.

[2017-07-18 16:42] egernst commented on #163
I have seen this as well.  @amshinde, FYI.   @sboeuf  --wonder if this can be reproduced on 3.x?

[2017-07-18 16:45] sboeuf commented on #163
@egernst I think we had this issue because we had no support for devicemapper. I don't think this issue is valid anymore.

[2017-07-18 16:45] egernst commented on #167
@sboeuf ; @wuzhy -- can we reproduce this on latest?  If not I think we should close?

[2017-07-18 16:48] egernst commented on #12
While the name of the issue is accurate, I think this is "resolved but will not be fixed."

Closing this -- feel free to reopen if I am mistaken.

[2017-07-18 16:48] #12 closed

[2017-07-18 16:54] jodh-intel commented on #12
I wonder if we should add a "Limitations" section to the top-level README to document this to avoid users having to trawl around to find a closed issue? @grahamwhaley - what are your thoughts on this?

[2017-07-18 16:55] sboeuf commented on #328
@GabyCT Yeah currently we don't have merged all our PRs because of some ongoing discussion here: https://github.com/opencontainers/runc/issues/1525. This is causing the output to still come on the terminal even when you don't specify any console but this is not a big deal right now.
I have noticed the issue your are mentioning and it is caused by the fact that we don't update the container status

[2017-07-18 16:58] mcastelino commented on #12
@jodh-intel @grahamwhaley We should. There are other limitations which we need to document

Lack of current support for
- network connect
- --device
- -v when used with devices
- --shm-size

[2017-07-18 16:58] sboeuf commented on #167
I don't have the step to check this. Unless we get more context from @wuzhy, we can close this one.

[2017-07-18 17:04] grahamwhaley commented on #12
+1
I definitely think we should. I've run into the host network one myself, and would like to know what the others are.
Some technical background on the why, any known alternatives or workarounds, and any roadmap plans of how to fix them etc. would also be welcomed ;-)

[2017-07-18 17:19] egernst opened #338 "update limitations section for clear containers 3.0"
Per discussion on https://github.com/clearcontainers/runtime/issues/12  :

Need to update known-limitations section to our project's readme.

[2017-07-18 17:20] egernst commented on #12
@grahamwhaley @mcastelino @jodh-intel : see https://github.com/clearcontainers/runtime/issues/338 for tracking this limitation update.

[2017-07-18 17:27] amshinde commented on #163
This issue had been seen with runc as well : https://github.com/moby/moby/issues/27381. Not really related to the block support we recently added.

[2017-07-18 17:31] sboeuf commented on #163
Oh okay then you mean it is not even related to Clear Containers itself. We should drop this issue as non relevant.

[2017-07-18 17:34] egernst opened #339 "Qualify and document openshift support"
1. Verify support
2.  Document support
3.  Add test to QA based on #2.

[2017-07-18 17:36] egernst opened #340 "Update documentation and add testing for Kubernetes"
Need to qualify and document support of Kubernetes.  Today there is a wiki page describing CRI-O support which needs to be verified/updated.
Need to:
1. Update documentation
2. Create CI tests for verifying the documentation

[2017-07-18 17:55] mcastelino opened #341 "Add support for managing compute resources"
Kubernetes supports the notion of CPU resources assigned to a container

[code]

Similarly in docker we have
[code]

Which manifests in the config file as

[code]

The clear containers runtime should support at the very least the --cpus option.

However in the case of runc the CPU's visible to the application is the full set available to the host.
In the case or runc the cpu cgroups are used to ac

[2017-07-18 19:29] sboeuf commented on #332
Use github.com/golang/dep commit 24c37f5f336ec108d44e88a6f36125ab93c79951

[2017-07-18 20:00] sboeuf commented on #328
@GabyCT does that work better ?

[2017-07-18 20:12] mcastelino commented on #341
For the first cut we can skip cgroups and just make the CPU and Memory sizes passed to QEMU configurable. Adding cgroup support can come subsequently.

/cc @amyleeland

[2017-07-18 20:14] egernst commented on #341
That is handled today in a different issue / PR:
https://github.com/clearcontainers/runtime/pull/297

From: Manohar Castelino [mailto:notifications@github.com]
Sent: Tuesday, July 18, 2017 1:13 PM
To: clearcontainers/runtime <runtime@noreply.github.com>
Cc: Ernst, Eric <eric.ernst@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [clearcontainers/runtime] Add support for managing compu

[2017-07-18 20:21] mcastelino commented on #341
@egernst #297 is not exactly this. It only sets per k8s node, not at an individual POD level. Also we need to account for the fact that in k8s POD = sum of container constraints...

[2017-07-19 13:55] wuzhy opened #342 "wshd can't run in clear container"
HI,

I tried to run wshd in clear container, but failed. Did anyone hit this issue before or know any way to workaround  it? thanks.

Below was the log:
sh-4.1# strace ./wshd --run /share
execve("./wshd", ["./wshd", "--run", "/share"], [/* 8 vars */]) = 0
uname({sys="Linux", node="1f0511ff4ebce1762a45a656dff21e6f8ba01da5509c5d7c5572dbc9492a684e", ...}) = 0
brk(0)                                  =

[2017-07-19 15:17] grahamwhaley commented on #342
Hi @wuzhy
 we've not tried `wshd` I'm afraid, so have no direct experience.
 Seeing:
[code]

in the logs makes me think of an issue of 9pfs with unlinked files (see https://github.com/01org/cc-oci-runtime/issues/152) for a similar thread.

In that case, we verified the issue by using a tmpfs on /tmp to see if that worked around the problem:
[code]

I don't see how `/share` is placed inside your co

[2017-07-19 16:30] GabyCT commented on #328
@sboeuf yes I did that however I still have the issue that the containers can not be deleted it.

cc-runtime run -d  --bundle /home/cloud/rootfs/ test

 cc-runtime state test
{"ociVersion":"1.0.0-rc5","id":"test","status":"running","pid":21594,"bundle":"/home/cloud/rootfs","annotations":{"com.github.containers.virtcontainers.pkg.oci.bundle_path":"/home/cloud/rootfs","com.github.containers.virtcont

[2017-07-19 16:32] GabyCT commented on #328
@sboeuf if you want I can close this issue and create another one for delete or killing the container, is that ok?

[2017-07-19 16:33] sboeuf commented on #328
@GabyCT But in your example you forgot to kill the container before. Either you kill the container and you delete it, or you delete it with the `--force` flag.

[2017-07-19 16:44] GabyCT commented on #328
@sboeuf, I am doing the following

* Delete option
cc-runtime run -d  --bundle /home/cloud/rootfs/ test

cc-runtime state test
{"ociVersion":"1.0.0-rc5","id":"test","status":"running","pid":21874,"bundle":"/home/cloud/rootfs","annotations":{"com.github.containers.virtcontainers.pkg.oci.bundle_path":"/home/cloud/rootfs","com.github.containers.virtcontainers.pkg.oci.config_path":"/home/cloud/rootfs/

[2017-07-19 16:46] GabyCT commented on #328
@sboeuf and even after the kill I tried to do the delete and it is saying

 cc-runtime delete testtwo --force
ERROR received from Hyperstart

[2017-07-19 17:07] sboeuf commented on #328
@GabyCT Then maybe you can open an issue explaining what you did and what was not working. I'll give this a try later.
You should also open an issue about the fact that cc-runtime list does not update the container state.

[2017-07-19 18:41] GabyCT opened #343 "container can not be killed or deleted after running in detach mode"
It is not possible to delete or kill a container after running in standalone in detach mode

1. cc-runtime run -d --bundle /home/cloud/rootfs/ testtwo

2. cc-runtime state testtwo
{"ociVersion":"1.0.0-rc5","id":"testtwo","status":"running","pid":21904,"bundle":"/home/cloud/rootfs","annotations":{"com.github.containers.virtcontainers.pkg.oci.bundle_path":"/home/cloud/rootfs","com.github.containers.

[2017-07-19 18:42] GabyCT commented on #343
This is the setup
cc-runtime : 3.0.0-alpha.3
OCI specs: 1.0.0-rc5

On ubuntu 16.10

[2017-07-19 18:43] GabyCT commented on #328
issue #343 was created

[2017-07-19 18:43] #328 closed

[2017-07-19 19:52] wuzhy commented on #342
@grahamwhaley Yes, the dir /share is mounted via docker run ... -v /root/wsh/share:/share ....

hyperShared on /share type 9p (rw,sync,dirsync,nodev,relatime,trans=virtio)
sh-4.1# ls /share
wsh  wsh.tar.gz  wshd
sh-4.1#
sh-4.1# mount -t ramfs -o size=20M ramfs /share
sh-4.1# mount
hyperShared on /share type 9p (rw,sync,dirsync,nodev,relatime,trans=virtio)
ramfs on /share type ramfs (rw,relatime,si

[2017-07-19 19:55] sboeuf commented on #342
@wuzhy what do you mean by "now" ? You have seen a recent change ?

[2017-07-19 19:57] wuzhy commented on #342
@sboeuf i mean that after the command "mount -t ramfs -o size=20M ramfs /share" is done, there is no files or directory under the dir "/share".

[2017-07-19 19:59] wuzhy commented on #342
@grahamwhaley yes, it can workaround with the help of your mentioned method. But has this 9p issue not still been fixed by upstream?

sh-4.1# strace ./wshd --run /share
execve("./wshd", ["./wshd", "--run", "/share"], [/* 8 vars */]) = 0
uname({sys="Linux", node="c58b86197c50fe5a26184bee4ab27928cc74575ae9360e347c6d712e89c39432", ...}) = 0
brk(0)                                  = 0x16c7000
brk(0x16

[2017-07-19 21:07] sboeuf opened #344 "3.0.0-alpha.4"
Release 3.0.0-alpha4 for the runtime.

[2017-07-19 22:37] #344 closed

[2017-07-19 22:43] sboeuf commented on #326
For reference the discussion I had with a runc maintainer here: https://github.com/opencontainers/runc/issues/1525

Even if it is not completely logical, we can still get some output on the current shell in case `--tty=false` in detached mode. The reason behind this is that we should consider this case as if we were specifying our shell as the console. This is something used by CRI-O for example.

[2017-07-20 08:40] #326 closed

[2017-07-20 09:50] dlespiau commented on #342
Is your plan to use an AF_UNIX socket shared between the host and guest? I can't see that working with two different kernels (host and guest). The guest kernel doesn't know about the kernel objects from the host host. It works with containers because they share the same kernel.

Or I am missing something?

[2017-07-20 10:18] wuzhy commented on #342
Yes，we use wshd to communicate between guest and host. any other way to replace it?

[2017-07-20 15:35] dvoytik commented on #341
@mcastelino, with #297 you can setup for each new POD (== VM) default number of vCPUs. If you set -1 then runtime will set the same number as physical cores on the host.
https://github.com/clearcontainers/runtime/blob/master/config/configuration.toml.in#L9

[2017-07-20 16:19] amyleeland commented on #167
@wuzhy We have not been able to reproduce this. If you have the steps please send them and we will look into this. IF you are seeing this on the latest release please re-open with steps on how to reproduce

[2017-07-20 16:19] #167 closed

[2017-07-20 16:20] jodh-intel commented on #167
Also, please include the output from the following command if you can recreate:

[code]

[2017-07-20 16:23] jodh-intel commented on #118
The correct behaviour should also be documented in the limitations doc (see #338) as `$(tty)` is a common idiom. See also:

- https://github.com/containers/virtcontainers/tree/master/hack/virtc#create-a-new-container

[2017-07-20 16:31] jodh-intel commented on #114
We need to ensure the correct behaviour for all possible signal values, not just `SIGTERM`.

[2017-07-20 16:58] jodh-intel commented on #325
This seems to be specific to running stand-alone as we test this works under docker:

- https://github.com/clearcontainers/runtime/blob/master/.ci/run.sh#L40..L41

[2017-07-20 17:03] jodh-intel opened #346 "test with top 100 docker images"
See: https://github.com/01org/cc-oci-runtime/issues/425

[2017-07-20 17:05] mcastelino commented on #341
@dvoytik #297 provides us with the right degree of flexibility from a machine level default point of view.

IMO the default on non NUMA systems should be -1 so reflect more closely the behavior of a namespaced container (once we evaluate the memory footprint impact)

What we are missing is honoring the per container/POD values that come in via config.json in the case of docker. We are also missing

[2017-07-20 17:05] gorozco1 opened #347 "Test runtime with OCI runtime tools"
https://github.com/opencontainers/runtime-tools

[2017-07-20 17:07] sboeuf opened #348 "Switch to the new agent"
Test the new agent and validate that we cannot see any regression. Once this is done, let's move to it.

[2017-07-20 17:10] jodh-intel commented on #338
Let's collect everyones input below and I'll then work this into a doc to store in-tree:

- https://github.com/clearcontainers/runtime/wiki/Current-Limitations

[2017-07-20 18:46] devimc commented on #114
still occurs

[code]

[2017-07-20 18:47] devimc commented on #114
related to #343

[2017-07-20 18:48] devimc commented on #118
cannot reproduce

[code]

[2017-07-20 18:48] #118 closed

[2017-07-20 18:49] sboeuf commented on #114
Ok but are we sure that we want the VM to be killed when we do `cc-runtime kill --all` ? I mean we are talking about the VM here so we don't have reference with runc for this point.
I mean usually after a kill you call into `cc-runtime delete` and it will do the job to remove the VM.

[2017-07-20 18:53] amshinde opened #349 "Run I/O PnP tests with devicemapper"

[2017-07-20 19:26] sboeuf opened #350 "Make hypervisor machine type configurable"
We want to be able to change the hypervisor machine type from the configuration file `configuration.toml`.

[2017-07-20 20:28] sboeuf opened #351 "cc-env: Add hypervisor machine type info"
cc-env needs to provide the hypervisor machine type through the information provided.

[2017-07-21 04:32] sboeuf opened #355 "Update virtcontainers vendoring"
We want to have latest patches from virtcontainers to make sure we have https://github.com/containers/virtcontainers/issues/318 fixed, and to make sure that we have the `pc` machine type available for qemu hypervisor.

[2017-07-21 07:56] jodh-intel opened #357 "log configuration file path"
Add a log call so it is clear which configuration file the runtime was using.

[2017-07-21 14:15] #351 closed

[2017-07-21 14:23] #355 closed

[2017-07-21 15:38] jodh-intel opened #359 "switch unit tests to using coverage-instrumented cc-runtime binary"
@dlespiau worked out how to create a coverage-instrumented `cc-runtime` binary (#186).

We now need to switch to using this since the Coveralls figures only show the unit test coverage - the figure does not include the additional coverage gained by running the integration and system tests.

To do this, we need to switch the CI test scripts to:

- run all the tests using the correct coverage-instru

[2017-07-21 15:41] jodh-intel commented on #359
Related: #93.

[2017-07-21 15:52] #350 closed

[2017-07-21 16:33] jodh-intel commented on #341
Related: #19.

[2017-07-24 16:22] egernst opened #360 "defunct instance of qemu after running crioctl pod run"
On a clean system (no qemu running, no other pods running), start a pod.  If you check for qemu processes, you'll see that two were started, the first of which is defunct.  Everything else is running as expected.  We should only have a single instance of running QEMU at this point.

CLI:
$ sudo crioctl pod run --config test/testdata/sandbox_config.json
7522499cee9f3079870919bd79886a72852be4d449fd4

[2017-07-25 18:23] GabyCT commented on #346
I just ran the script “popular-containers-images.bats” on Ubuntu 16.10  on a Skylake NUC i5-6260U with the following specifications:
cc-runtime  : 3.0.0-alpha.4
OCI specs: 1.0.0-rc5
Docker version 17.06.0-ce, build 02c1d87

I had to do some modifications to the script for some images popular-containers-images.bats”  as some commands for some docker hub images were obsolete or not supported anymore

[2017-07-25 18:26] GabyCT commented on #346
The modifications for the popular-containers-images.bats will be submitted later on the clearcontainers/tests repository and I will coordinate with @devimc to run this script on the Local CI.

[2017-07-25 21:08] GabyCT commented on #346
should I close this issue and raised another one in clearcontainers/tests to submit the script?

[2017-07-25 21:57] chavafg commented on #346
@GabyCT can you please test those 2 images with runc? So we know if something is wrong with our runtime. And also it would be great if you could post the errors here.

[2017-07-25 23:16] amshinde opened #361 "Allow 9pfs to be used instead of block device in case of devicemapper"
For devicemapper storage, the underlying block device is used by default. Provide configuration to use 9pfs instead.

[2017-07-26 10:45] #357 closed

[2017-07-26 14:14] devimc commented on #114
@sboeuf no, I think this is an issue that currently we have
I noticed in 2.1.x that docker is able to identify (I guess it uses namespaces) what process were spawned by cor or runc, therefore when kill signal is sent docker expects all process to be killed, if not  then docker will kill them, for this reason we don't face this issue under docker.

[2017-07-26 16:05] GabyCT opened #363 "docker attach gets frozen"
1. docker run -td --name test busybox sh
2. docker attach test
/# exit 13
exit
....
However, the container does not terminate, it is frozen.

This was tested with Ubuntu 16.10 with the following configuration
cc-runtime  : 3.0.0-alpha.4
OCI specs: 1.0.0-rc5
Docker version 17.06.0-ce, build 02c1d87

[2017-07-26 21:53] GabyCT commented on #346
@chavafg I tried with runc version 1.0.0-rc3 and it is working. I verified the joomla image and it is working with CC3 , I just need it to change the test. However, the couchdb is not working

Here are the errors
1. docker run -ti -e COUCHDB_USER=test -e COUCHDB_PASSWORD=secretword couchdb
[WARN  tini (5)] Tini is not running as PID 1 and isn't registered as a child subreaper.
        Zombie proce

[2017-07-27 10:47] jodh-intel opened #364 "add contact details to the CONTRIBUTING doc"
The CC 3.0 `CONTRIBUTING.md` is missing a Contact section.

[2017-07-27 13:13] #361 closed

[2017-07-27 13:32] jodh-intel opened #366 "Document how to view agent log"
We need to document in https://github.com/clearcontainers/runtime#debugging that to view the agent log, it is necessary to run the proxy in debug mode:

- https://github.com/clearcontainers/proxy#debugging

See discussion on #353.

[2017-07-27 16:10] grahamwhaley commented on #98
Directly related (and probably superseded by) https://github.com/clearcontainers/tests/issues/149

[2017-07-27 16:48] #346 closed

[2017-07-27 17:01] jodh-intel commented on #114
Re-reading the spec (which of course doesn't specify `--all`), "the spirit" of the `kill` command in this context would be to simply kill all processes in the container and have the VM torn down in `delete`. Snippets from [1]:

[code]
[1] - https://github.com/opencontainers/runtime-spec/blob/master/runtime.md

[2017-07-27 20:18] devimc commented on #114
after analyze/debug docker behavior, I agree with @jodh-intel and @sboeuf kill command must kill the processes in the container, this is not a problem in docker because it calls to runtime kill + delete
thanks @sboeuf

[2017-07-27 20:18] #114 closed

[2017-07-27 20:44] sboeuf commented on #114
@devimc no problem ! Always good to brainstorm on these things ;)

[2017-07-28 08:07] #364 closed

[2017-07-28 11:03] grahamwhaley opened #367 "Docs: developer doc page has bit rotted and needs an update"
It appears the developer docs at;
https://github.com/clearcontainers/runtime/blob/master/docs/developers-clear-containers-install.md
have rotted a bit, and are out of date.
Two things that occur to me (there may be more...):
- the PKGDIR references `/usr/libexec`, but I think we are now on `/usr/local/libexec` (my install failed as the config.toml did not find the shim for this reason)
- the docke

[2017-07-28 11:12] wcwxyz opened #368 "guest kernel breaks pre-2.15 glibc"
Running centos:6 /bin/bash would trigger a segment fault:

[code]
kernel: /usr/share/clear-containers/vmlinux-4.5-50.container
image: /usr/share/clear-containers/clear-16410-containers.img

ps. I managed to get this output by using a static build busybox with newer glibc and centos:6 /bin/dmesg.

[2017-07-28 11:28] jodh-intel commented on #367
I've raised #370 for this.

I haven't made any changes on the PR for the runtime name yet. I'm happy with either `clear-containers` (note the dash) or `cc-runtime`. The latter is arguably less obvious (you need to know that `cc-runtime` equates to "Clear Containers"), but since the default runtime (`runc`) name reflects the name of the runtime binary, `cc-runtime` would seem like a better fit for

[2017-07-28 13:04] grahamwhaley commented on #367
I'd vote for shorter docker runtime names rather than longer, so put my preference with `cc-runtime`

[2017-07-28 13:15] jodh-intel commented on #367
Agreed. PR updated.

[2017-07-28 13:18] jodh-intel opened #371 "create an installation doc for CentOS 7"
We need an installation document for RHEL / CentOS to live in:

- https://github.com/clearcontainers/runtime/tree/master/docs/

[2017-07-28 16:15] gorozco1 commented on #367
we set clearcontainers after a talk with @sameo at the irc. The change on the name of the runtime makes sense to me though. +1

[2017-07-28 20:48] amshinde opened #373 "On building and installing with CC_SYSTEM_BUILD=yes, cc-runtime still looks for images under /usr/local/share instead of /usr/share"
build output shows assets path as /usr/share/defaults, but the binary looks for /usr/local/share instead.

[2017-07-31 18:34] GabyCT opened #375 "docker logs retrieves information slowly"
While performing the following

1. docker run -td  --name test2 busybox sh -c 'echo hello' && docker logs test2
23318072233cd860e7bab2540e5ab247358ad88dc9cbce7ab2938713e8e83b38

It is shown that docker logs does not retrieve the information immediately, as it needs some time to performing it

2. docker logs test2
hello

However, that is not the case in runc. As in runc the information appears inme

[2017-08-01 17:38] sboeuf opened #376 "Don't check for shim status since virtcontainers do that already"
There is a pending PR (https://github.com/containers/virtcontainers/pull/333)/ issue (https://github.com/containers/virtcontainers/issues/327) for virtcontainers to be able to update the container status when StatusContainer() is called. This means the runtime implementation does not need to check the shim state on purpose, it can now rely on the state provided by virtcontainers.

[2017-08-01 17:47] sboeuf opened #377 "delete: Always stop the pod from delete command"
In case of a container, if kill has been previously called and has terminated the container's process, we now have virtcontainers updating the container state (https://github.com/containers/virtcontainers/pull/333 and https://github.com/containers/virtcontainers/pull/327). But the pod state will never switch to "stopped" implicitly. We have to stop the pod on purpose to end properly the lifecycle.

[2017-08-01 17:49] sboeuf opened #378 "kill: Simplify kill command after recent virtcontainers changes"
Because virtcontainers is now re-organized so that it can handle the different cases according to container states, we want to simplify the implementation of the kill command to avoid any confusion between the runtime and virtcontainers.

[2017-08-01 18:54] #367 closed

[2017-08-02 15:46] grahamwhaley commented on #95
A note and a question:
Note: if you do a `docker-runc ps xxx`, where xxx is not a valid container ID, then it prints out an error message noting that it could not find the relevant state.json file.  We of course don't have to copy this, but I found it interesting that we currently silently fail (with the correct exit code), whereas it looks like we could print something more useful.
Question: Is t

[2017-08-02 16:24] grahamwhaley commented on #13
@sboeuf @devimc I think this is a duplicate of #95 , in which case, let's close this one - you agree?

[2017-08-02 16:27] sboeuf commented on #13
Yes I agree, I close this one.

[2017-08-02 16:27] #13 closed

[2017-08-02 16:37] grahamwhaley opened #379 "Implement the 'events' command"
The runtime does not currently implement the 'events' command. We may not be able to perfectly match all the information that the `runc` version supports, but we may be able to do a subset, and possibly some extra VM related info. Analyse and implement as necessary.
https://github.com/opencontainers/runc/blob/e775f0fba3ea329b8b766451c892c41a3d49594d/events.go
https://github.com/opencontainers/runc

[2017-08-02 16:59] grahamwhaley opened #380 "Evaluate, and implement, any applicable `update` features"
The runtime does not implement the `update` command (and thus implicitly probably does not support some of the `docker update` functionality.
It may be possible to implement some of the functionality either by affecting the VM or injecting the requests into the container itself. Investigation and architecture needs researching to define what is feasible.

[2017-08-03 03:11] wcwxyz commented on #380
Now runtime doesn't support per container cpu/memory configuration. Perhaps with an `update` command, runtime can do cpu/memory hot plugging. So people can create a container and update cpu/memory.

[2017-08-03 09:29] dvoytik commented on #379
If everybody else are occupied then I could work on this feature after I finish with HA.

[2017-08-03 10:42] grahamwhaley commented on #379
That works for me @dvoytik As per the Issue, I think the first stage would be some data gathering and analysis of what `runc` provides, what options we have to match those, and then what, if any, extra items we might be able to add.
One of the key aspects we should discuss, probably on a per-item basis, is if we measure some of the stats from outside or inside the VM/container, or both etc.
@mcast

[2017-08-03 10:50] grahamwhaley commented on #380
Hi @wcwxyz
@mcastelino recently added an Issue for cpu resources: https://github.com/clearcontainers/runtime/issues/341
but I cannot find one for memory resource like `docker run -m MEMORY` - so I will add one in a moment.
For me, I think support of `docker run -m MEMORY` is probably more important and a first step before we support `update`.
Yes, for `update` to work I would expect either we woul

[2017-08-03 10:52] grahamwhaley opened #381 "Support `docker run -m MEMORY` memory resource constraint/definition"
The runtime should support the `docker run -m MEMORY` functionality.
This is most likely tied directly into the .json config and qemu command line setup.
At present there is a fixed size for all containers. It should be flexible on a per-container/VM basis.
Also see:
https://github.com/01org/cc-oci-runtime/issues/805
https://github.com/clearcontainers/runtime/issues/380

[2017-08-03 10:53] grahamwhaley commented on #381
/cc @wcwxyz

[2017-08-03 10:57] grahamwhaley commented on #380
I meant to add...
 supporting memory size changes via hotplug will be difficult due to granularity (the hotplug is generally done in DIMM sized chunks afaik for instance, and there is a limit to the number of slots), and complexity in the VM (there will have to be a bunch of migration etc. if we are unplugging and shrinking memory that is in use for instance). And, if we set up the VMs to handle t

[2017-08-03 11:10] wcwxyz commented on #380
Yes, you're right about memory hotplug.

But I'm curious how much overhead would VM has if it's configured 'maximum possible memory'? I imagine it'd only cost actual memory, the rest would be just overcommitted.

[2017-08-03 13:27] grahamwhaley commented on #380
We did some measurements on this a little while back. @jcvenegas do you have any info you can share? Basically there is overhead in the VM for setting up the page management for the larger space iirc.
On the overcommit front, that might also be an issue. The kernel by default iirc won't let you 'wildly' over-commit for the VMs by default (https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/li

[2017-08-03 13:52] grahamwhaley commented on #95
Aha. The way to invoke the runtime `ps` from docker cli itself is by using `docker top` I believe.
Just checked, and this works for `runc`, but not for `cor` at least. I believe it will not work for `cc-runtime` at present either (I don't have an installation to hand to check right now)

[2017-08-03 15:56] sboeuf commented on #379
Oh yeah great if @dvoytik wants to implement this. Looking at what runc expects, I would say that we want to monitor what is going on inside the VM. This means that from virtcontainers/runtime, we would call/poll on a new agent command `getStats(containerID)` for example, and then format those results to the format expected by runc.
Does that make sense ?

[2017-08-03 16:02] grahamwhaley commented on #379
Let's list out what runc/docker currently extract/print and then we can have a discussion as to which should come from inside or outside of the VM.
I think a wiki page might be a suitable place to do that diagnosis, you think? I just want to make sure we get the decision right first time.
The new agent command sounds the right approach to me for things from in the VM, unless we can extract them vi

[2017-08-03 16:31] #340 closed

[2017-08-03 16:31] amyleeland commented on #340
@mcastelino completed this work, salvador is opening a new issue to track automation scripts

[2017-08-03 16:58] GabyCT commented on #16
Using the new agent /tmp is empty
1. docker run -ti busybox sh
2. ls /tmp/

This was verified with cc-runtime  : 3.0.0-alpha.4
commit   : f26c15089fb3f78c2995e7a35733885ea87ccfde
Ubuntu 16.10

[2017-08-04 09:53] grahamwhaley commented on #9
This was enabled by https://github.com/clearcontainers/tests/pull/86

[2017-08-04 09:53] #9 closed

[2017-08-04 10:47] grahamwhaley commented on #19
Also likely directly related to at least #380 and #381. It feels like the cgroups settings can be set or adjusted through a number of different `docker run` or `update` arguments.

[2017-08-04 17:10] sboeuf opened #382 "vendor: Update virtcontainers vendoring"
Needs to update virtcontainers vendoring to get latest patches from virtcontainers.

[2017-08-04 22:00] #376 closed

[2017-08-04 22:00] #377 closed

[2017-08-04 22:00] #382 closed

[2017-08-04 22:00] #378 closed

[2017-08-04 22:22] sboeuf opened #384 "Release 3.0.0-alpha.5"

[2017-08-04 22:50] #384 closed

[2017-08-06 17:21] wuzhy commented on #342
This issue got fixed, So close it now

[2017-08-06 17:21] #342 closed

[2017-08-07 15:29] GabyCT opened #386 "Unable to run as non-root user in a container"
Using the following setup:
Ubuntu 16.10
cc-runtime  : 3.0.0-alpha.4
OCI specs: 1.0.0-rc5
Docker version 17.06.0-ce, build 02c1d87

It is not possible to run a container as a non-root user
1. docker run --name test3 -u postgres postgres whoami
root

It is returning root instead of postgres

[2017-08-07 15:48] GabyCT opened #387 "unable to run with additional groups"
Using the following setup:
Ubuntu 16.10
cc-runtime : 3.0.0-alpha.4
OCI specs: 1.0.0-rc5
Docker version 17.06.0-ce, build 02c1d87

It is not possible to run a container run with additional groups
1. docker run --rm --group-add audio --group-add nogroup busybox id
uid=0(root) gid=0(root)

However, it should return
uid=0(root) gid=0(root) groups=10(wheel),29(audio),65534(nogroup)

[2017-08-07 16:20] jodh-intel opened #388 "Support "docker run --kernel-memory=""
We need to investigate if we can support the `--kernel-memory=` option to the `docker run` command.

[2017-08-07 16:26] grahamwhaley commented on #388
Just because I was reading this earlier today, for reference:
https://docs.docker.com/engine/admin/resource_constraints/#--memory-swappiness-details

My gut feeling on this one is that its main use is for damage limitation on the host, therefore I suspect setting this up on the host side (outside the VM) might make more sense than setting it up inside the VM (kernel).

[2017-08-07 16:50] wcwxyz commented on #381
+1

This would be very useful to most people (as well as cpu constraint).
Do you guys have any idea how to implement?

[2017-08-08 08:11] jodh-intel commented on #386
Confirmed:

[code]

[2017-08-08 09:26] #368 closed

[2017-08-08 10:56] jodh-intel commented on #386
We need to identify if this bug also exists with the new agent or if it is just an issue with hyperstart.

[2017-08-08 11:03] jodh-intel commented on #386
It affects both `hyperstart` and `cc-agent`.

[2017-08-08 12:47] jodh-intel commented on #386
Marking as regression as this works in CC 2.x:

[code]

[2017-08-08 12:47] jodh-intel commented on #386
@sboeuf - any thoughts on this?

[2017-08-08 12:50] grahamwhaley commented on #386
Just to check - was it fixed in cc-oci-runtime here: https://github.com/01org/cc-oci-runtime/pull/624/files
?

[2017-08-08 17:42] wcwxyz commented on #380
I did some memory testing comparing `-m 2G,slots=2,maxmem=3G`  and `-m 2G,slots=2,maxmem=32G`(hacked runtime).

I didn't see any memory footprint difference between these two configuration. I was able to launch as many as VMs until host available memory drop under 2G. I got 280~ VM running in hoth situation on a 32G machine (there's other apps running on this host, so 280 isn't the best it would r

[2017-08-08 17:45] mcastelino commented on #380
@wcwxyz yes. Setting maxmem should not change memory footprint. This only defines the upper bounds for memory hotplug. Changing maxmem to host memory size makes sense.

[2017-08-08 17:53] wcwxyz commented on #380
I'll send a patch to virtcontainers to address maxmem issue.

[2017-08-08 17:55] sboeuf commented on #380
Sounds good to me :)

[2017-08-09 05:48] sboeuf commented on #91
Run 1:

[    0.534654] random: systemd: uninitialized urandom read (16 bytes read)
[    0.535563] systemd[1]: Initializing machine ID from random generator.
[    0.540288] BUG: unable to handle kernel NULL pointer dereference at 0000000000000008
[    0.541028] IP: [<ffffffff812a60d7>] rb_insert_color+0x17/0x190
[    0.541028] PGD 7c503067 [    0.541028] PUD 7c54e067
PMD 0 [    0.541028]
[    0.541

[2017-08-09 10:25] grahamwhaley commented on #380
Indeed, bumping the maxmem won't cost you space in the VM/container unless you then map (plug in) that memory. The experiments we had previously done were mapping all of host memory to the VM.

I'll note that currently the `-m 2G,slots=2,maxmem=3G` is not 1.5* the mem size, it is `n+1G`, where the 1G is the extra space to map the nvdimm DAX into. Thus, we may always want/need to add the `+1G`, bot

[2017-08-09 11:29] wcwxyz commented on #380
Although the code is written as` maxmem=mem*1.5`, I think `maxmem=mem+1G` makes sense.

AFAIK, regular ram doesn't consumes slot. But I'm not sure about nvdimm device (it looks like it should).

I can give it a try. I'll look into memory footprint for different number of slots configured.

[2017-08-09 13:04] grahamwhaley commented on #380
Ah @wcwxyz , I see, at here:
https://github.com/containers/virtcontainers/blob/master/qemu.go#L473
there is the hard coded `*1.5`. I think that is probably incorrect and has been a mis-translation of the original fixed line from: https://github.com/01org/cc-oci-runtime/blob/master/data/hypervisor.args.in#L11

let me go open an Issue on virtcontainers for that so we can clear that up.

On the slots

[2017-08-09 15:22] #338 closed

[2017-08-10 08:39] wcwxyz commented on #332
It's nice to document how to use `dep` to import a new go project for developers.

[2017-08-10 09:07] jodh-intel commented on #332
+1. I think we need atleast 2 examples:

- How to add a new dependency on the runtime with vendoring.
- How to make changes to both virtcontainers and the runtime and update the vendoring.

[2017-08-10 09:10] grahamwhaley commented on #332
+1 @wcwxyz  Right now @sboeuf is the master of dep afaict :-)
If we gather info here then I am happy to do the PR for the docs.
Things we should cover:
- we use dep built from a specific commit
- `dep ensure`
- `dep prune`
- do we have rules for tracking `branch=master` or other variants (version pinning) in the `Gopkg.toml`

[2017-08-10 11:18] wcwxyz commented on #341
Hi, I'd like to work on this one if it's not taken.

`--cpu` is a docker specific option. It is a equivalent to a combination of `--cpu-quota` and `--cpu-period`, eg. `--cpu 1.5` is translated to `--cpu-quota 150000 --cpu-period 100000`. OCI spec defines cpu quota and period.

My idea is to get cpu quota and period from container OCI spec, and make the calculation of number of vcpus for qemu.

But

[2017-08-10 12:41] jodh-intel opened #392 "Create an architecture document"
For parity with:

- https://github.com/01org/cc-oci-runtime/blob/master/documentation/architecture.md

[2017-08-10 12:41] jodh-intel commented on #392
Hi @grahamwhaley - do you wanna take this one? ;)

[2017-08-10 13:01] grahamwhaley commented on #341
Hi @wcwxyz , sure, if you want it we can assign. I think you'd work closely with @mcastelino and @dvoytik on the details of how this interacts as a whole, with k8s and pods for instance (see above).
As @mcastelino says, adding support for `--cpus` is a first good step, and then later for POD support it looks like we'd add support for cgroup cpu constraining within the VM itself.

We should probabl

[2017-08-10 13:06] grahamwhaley opened #393 "Implement --cpus mapped to QEMU -smp arguments"
We should map the `docker run --cpus` request do the QEMU VM command line `-smp` argument, as best we can.
It cannot be a 1:1 mapping, as `--cpus` takes a float argument, and implements partial CPU quotas using the CFS period and quota settings for instance.
A proposal is that we round up to the nearest whole CPU value, for the act of 'least surprise'.

Also see Issue #341 for more background and

[2017-08-10 13:24] grahamwhaley commented on #392
heh, did I see that coming...? :-)  yes, that probably makes sense for me to take. I'll assign myself.... and everybody expect me to ask you annoying questions :-)

[2017-08-10 13:41] jodh-intel commented on #393
Whatever we decide, we must also ensure https://github.com/clearcontainers/runtime/blob/master/docs/limitations.md gets updated with the details.

[2017-08-10 13:43] grahamwhaley commented on #393
Ah, indeed, I meant to mention that - once we have implemented this we need to describe at least the non 1:1 mapping limitation on `--cpus`, and also probably call out more specifically the other things we don't support (quoata and slice things etc.)

[2017-08-10 14:08] wcwxyz commented on #393
I was thinking, maybe when --cpus 1.5 is requested, we should just fail instead of round up to 2. So user will not be confused or misled.

How about we support --cpus int as the first step and fix --cpu float in the future if we have better idea how to handle it.

[2017-08-10 14:24] wcwxyz commented on #341
@grahamwhaley emm.. I'm not familiar with k8s. I mean to work on #393 ...

Actually --cpus will be translated to CFS cpu period and quota in the OCI spec config.json. See https://github.com/opencontainers/runtime-spec/blob/master/specs-go/config.go#L292~L307. I'll quote it here:

[code]
So when runtime supports `--cpus`, it naturally supports `--cpu-period xxx --cpu-quota xxx` combination.

Anyway

[2017-08-10 14:37] jodh-intel commented on #366
Needs an update to README.

[2017-08-10 14:41] jodh-intel commented on #289
Fixed by #370 (+ #367).

[2017-08-10 14:41] #289 closed

[2017-08-10 14:41] jodh-intel commented on #392
Ah - I'd already opened #268 for this! ;-) Closing that one...

[2017-08-10 14:42] jodh-intel commented on #268
Replaced by #392.

[2017-08-10 14:42] #268 closed

[2017-08-10 14:47] jodh-intel commented on #142
Added by 03e3caf0e451cf565da05fb5c1899187684f608d.

[2017-08-10 14:47] #142 closed

[2017-08-10 15:13] grahamwhaley commented on #393
Yep, I'm happy with that as a first step @wcwxyz Better than no --cpus support at all :-)

[2017-08-10 16:42] jodh-intel commented on #93
This is becoming a placeholder for sub-tasks. See:

- #359
- #262
- #191

[2017-08-10 16:44] jodh-intel commented on #93
This issue can be used primarily to add the basic mock testing framework which will enable the other files in the runtime to have full unit tests created.

[2017-08-10 16:44] jodh-intel opened #394 "increase unit test coverage on pause.go."
Currently at 0%.

See #93.

[2017-08-10 16:45] jodh-intel opened #395 "increase unit test coverage on state.go"
Currently at 0%.

See #93.

[2017-08-10 16:45] jodh-intel opened #396 "increase unit test coverage on main.go"
This one could be tricky.

 Currently at 0%.

See #93.

[2017-08-10 16:46] jodh-intel opened #397 "increase unit test coverage on run.go"
Currently at 0%.

See #93.

[2017-08-10 16:46] jodh-intel opened #398 "increase unit test coverage on exec.go"
Currently at 0%.

See #93.

[2017-08-10 16:50] #329 closed

[2017-08-10 16:56] jodh-intel opened #399 "increase unit test coverage on start.go"
Currently at 0%.

See #93.

[2017-08-10 16:56] jodh-intel opened #400 "increase unit test coverage on delete.go"
Currently very low coverage.

See #93.

[2017-08-10 16:56] jodh-intel opened #401 "increase unit test coverage on create.go"
Currently very low coverage.

See #93.

[2017-08-10 16:57] jodh-intel opened #402 "increase unit test coverage on exit.go"
Currently very low coverage.

See #93.

[2017-08-10 16:57] jodh-intel opened #403 "increase unit test coverage on kill.go"
Currently low coverage.

See #93.

[2017-08-10 16:58] jodh-intel opened #404 "increase unit test coverage on list.go"
Currently low coverage (this needs investigating - it was 100%)

See #93.

[2017-08-10 16:59] jodh-intel opened #405 "increase unit test coverage on oci.go"
Currently low coverage.

See #93.

[2017-08-10 16:59] jodh-intel opened #406 "increase unit test coverage on console.go"
Currently low coverage.

See #93.

[2017-08-10 17:02] jodh-intel commented on #93
See #394, #395, #396, #397, #398, #399, #400, #401, #402, #403, #404, #405, #406.

[2017-08-11 05:15] sboeuf opened #407 "qemu: Move from qemu-lite to qemu-cc"

[2017-08-11 05:40] jcvenegas opened #409 "Automate Release notes"
Automate release notes generation to have a consistent format across releases

The release notes content :

  - [x] Brief summary of known issues, pointing to the appropriate Issues/PRs.
  - [x] Version of Docker (ideally range of versions, or "up to version X") supported by the release.
  - [x] Version of the OCI spec (ideally range of versions, or "up to version X") supported by the release.
  -

[2017-08-11 07:11] wcwxyz commented on #393
I'd like to get https://github.com/clearcontainers/runtime/pull/390 merged before I start working on this one. This `docker --cpu CPU` support is pretty like the `docker -m MEMORY` one. They can share the same code in some way.

[2017-08-11 08:44] jodh-intel opened #411 "Create a code of conduct document"
https://help.github.com/articles/adding-a-code-of-conduct-to-your-project/

[2017-08-11 09:15] jodh-intel opened #412 "Evaluate building qemu with `--enable-linux-aio`"
We currently build qemu using `--disable-linux-aio`, but Fedora and Ubuntu for example enable this option.

We need to evaluate enabling that option from a PnP (+ use-case) perspective.

Once we've decided whether it's worth enabling, we need to update the following with our findings:

- https://github.com/clearcontainers/packaging/blob/master/scripts/configure-hypervisor.sh#L203..L206

[2017-08-11 10:08] jodh-intel commented on #406
It should be possible to add in some unit tests now to test the errors paths for functions like `Read()` and `Write()` by modifying `ptsPtmxPath`.

[2017-08-11 11:07] jodh-intel opened #413 "increase unit test coverage on config.go"
Currently very close to 100% (which looks to be achievable).

See #93.

[2017-08-11 11:15] jodh-intel commented on #402
Hi @amshinde - this is an easy one as the code in `exit.go` is only used by the tests. Hence, I'd move it to `main_test.go` and remove `exit.go` entirely.

[2017-08-11 16:00] #348 closed

[2017-08-11 20:41] eadamsintel opened #414 "Developer CC 3.0 install instructions points to compressed kernel only causing CC to fail"
At https://github.com/clearcontainers/runtime/blob/master/docs/developers-clear-containers-install.md the instructions for the rootfs and kernel downloads a compressed kernel package only but CC 3.0 requires an uncompressed kernel for the VM.

If you change the following variable to "demos" then the install_clear_kernel.sh script pulls from the correct repository and pulls a package with both comp

[2017-08-11 21:23] jcvenegas opened #417 "Release 3.0.0-beta.1"
- [ ] Test the HEAD commit of the master branch using the tests included in the [tests repository][tests].
- [x] Update ```VERSION```.
- [ ] Generate OBS packages based on HEAD.
- [ ] Test OBS packages
	- [ ] Manual tests
		- [ ] Installation test.
		- [ ] Package signature test.
	- [ ] Automated tests
		- [ ] Integration tests included in the [tests repository][tests] under the integration direct

[2017-08-11 21:29] chavafg commented on #417
@jcvenegas I think item 1 is already covered by: https://semaphoreci.com/clearcontainers/runtime/branches/master/builds/169

[2017-08-11 22:45] amshinde opened #418 "Remove references to specific runtime version in installation docs."
The installation docs have references to alpha version in the docs:

https://github.com/clearcontainers/runtime/blob/14d8084822980341ee9cc656eb4b42d7991a0fb6/docs/ubuntu-installation-guide.md
https://github.com/clearcontainers/runtime/blob/14d8084822980341ee9cc656eb4b42d7991a0fb6/docs/fedora-installation-guide.md

[2017-08-14 07:53] jodh-intel commented on #392
Potentially related: https://github.com/clearcontainers/proxy/issues/104.

[2017-08-14 08:34] jodh-intel opened #420 "Remove a project approver"
Remove user `dlespiau` as a project approver as he is no longer a core maintainer.

[2017-08-14 08:37] jodh-intel opened #421 "Document why "unrestricted_guest" is checked for"
`cc-check` requires the KVM feature `unrestricted_guest`. This is a heuristic used to ensure the host system is "new enough" to run a Clear Container.

See: https://github.com/01org/cc-oci-runtime/issues/950#issuecomment-307148142

[2017-08-14 09:54] #420 closed

[2017-08-14 13:50] #417 closed

[2017-08-14 13:57] jodh-intel commented on #373
- `cc-runtime version` ?
- Are you building in the normal way?:
[code]
- Can you paste the output from `make` plus what do you see in `config-generated.go`?

[2017-08-14 15:36] grahamwhaley commented on #38
Assigning to @MarioCarrilloA This was mostly achieved in https://github.com/clearcontainers/tests/commit/6b924e8b6e2b4f28b604163ec55fd22a6d5824f5#diff-3ab4e1aa7a6a24302080e702d7031936, we now just need to enable in the 'run all' script once we are happy with the CI framework.

[2017-08-14 15:38] grahamwhaley commented on #39
Assigning @bwarden
We may not get the SRIOV tests in for the release, but the basic network tests that have started to merge should be.

[2017-08-14 15:39] grahamwhaley commented on #38
Also see #97

[2017-08-14 15:39] grahamwhaley commented on #98
also see #39

[2017-08-14 15:40] grahamwhaley commented on #104
Also see #392

[2017-08-14 16:40] grahamwhaley opened #425 "Create the 3.0 release blog"
We will need do a blog announcing our 3.0 release, with highlighted new architecture, features and a subset of our release notes.

copied over from https://github.com/01org/cc-oci-runtime/issues/1055
Also need to assign: https://github.com/eadamsintel
but need to add him to the org first...

[2017-08-14 16:55] grahamwhaley opened #426 "OCI: Check if we are OCI 1.0.0 compatible"
We last tested/checked/tracked OCI runtime spec 1.0.0-rc5. There has since been the full OCI 1.0.0 release (https://github.com/opencontainers/runtime-spec/releases/tag/v1.0.0).
We should check for any changes, and see if we 'just work'(tm), or if we need some updates, and then update our release notes appropriately.

[2017-08-14 16:55] amyleeland commented on #426
https://github.com/clearcontainers/runtime/issues/347

[2017-08-14 17:05] devimc opened #427 "Docker: Verify if CC 3.0 is compatible with docker enterprise edition"
Currently we use the docker community edition to verify if CC 3.0 is compatible with docker, but we don't know if CC 3.0 is compatible with the version enterprise of docker

[2017-08-14 17:10] grahamwhaley opened #428 "OCI: track and consider certification"
Track ongoing work at the OCI certification group:
https://github.com/opencontainers/certification
and consider if/when/how we go through that process.

[2017-08-16 10:52] #409 closed

[2017-08-16 13:58] chavafg opened #430 "synchronization bug (create -> start -> kill)"
This is a duplicate of: https://github.com/01org/cc-oci-runtime/issues/828, I am opening this issue to have better tracking in 3.0.

Tried to execute https://github.com/01org/cc-oci-runtime/blob/master/tests/integration/docker/kill.bats
with CC3.0. Second test still fails just as in 2.x.

Seems like it is a race condition since @grahamwhaley ran some tests in baremetal and couldn't reproduce it. I

[2017-08-16 14:29] #375 closed

[2017-08-16 16:54] #414 closed

[2017-08-16 20:04] #381 closed

[2017-08-16 23:09] egernst opened #431 "version SHA for runtime doesn't update unless make clean"
after making a local commit during development, I expect the SHA associated with cc-runtime --version to be updated after doing a make.  This seems to only occur after doing a make clean first.  Note that the SHA exhibited during the build process doesn't match the resulting version given with cc-runtime --version:

[code]

[2017-08-17 00:36] egernst opened #432 "agent change breaks kubernetes e2e testing"
Regression introduced @ 5dea7cb Merge pull request #353 from clearcontainers/sboeuf/switch_to_new_agent

Verified working @: 8a38fa7 (HEAD -> master, origin/sboeuf/move_to_pc) qemu: Move from pc-lite to pc machine type

Steps to reproduce: follow kubernetes tutorial @  https://github.com/clearcontainers/runtime/wiki/Clear-Containers-and-Kubernetes

After launching flannel pod, you should see the k

[2017-08-17 00:37] egernst commented on #432
@chavafg

[2017-08-17 10:38] jodh-intel opened #433 "Rewrite pause binary in go"
Requiring the pause binary be written in C means we need to build it statically. However, this is problematic on RHEL 7, so let's rewrite it in go for now.

See https://github.com/clearcontainers/packaging/issues/38.

[2017-08-17 12:59] #418 closed

[2017-08-17 13:01] dvoytik commented on #431
This could be solved by a local git hook. I can submit a PR for this issue.

[2017-08-17 13:17] grahamwhaley commented on #431
A git hook could do it. Alternatively (and I'm not too proud of this), I wonder if you can make the .git dir a dep. of the generated files. OK, that will rebuild the generated files for any change in the .git dir, but it would be 'less hidden' (would be visible in the Makefile) than a git hook maybe (buried in the .git dir somewhere).

[2017-08-17 13:28] jodh-intel commented on #431
Rebuilding `config-generated.go` every time wfm as it's tiny and the name really implies it should be rebuilt every time anyway ;)

[2017-08-17 13:38] grahamwhaley commented on #431
@jodh-intel do you mean rebuild on every make no matter what, or tie it to any changes in .git subdir? Just checking like. The rebuild every time might annoy me :-) - in projects past when they had that I'd spend some cycles staring at a Make that did not do nothing, wondering what on earth I'd changed ;-)

[2017-08-17 13:50] jodh-intel commented on #431
sorry, yes, rebuilding every time due to that config file being recreated every time would be a pita. The trouble with the `.git/` dir hack is that... there might not be one! If you download a release source archive, it won't be there.

Which reminds me, we should really be doing something like:

- https://github.com/01org/cc-oci-runtime/pull/213

[2017-08-17 13:54] dvoytik commented on #431
My idea was to create 'install git-hooks' target which installs hooks scripts (creates softlinks in .git/hooks/). Each time user runs 'git checkout' or 'git commit' the hooks will update _.git_head_ file in the root directory. Then config-generated.go must be set up to depend on _.git_head_. If _.git_head_ is absent then Makefile can generate it (in case when .git is absent).

[2017-08-17 14:11] chavafg commented on #432
I can confirm the issue, in the logs I see a `hyperstart` Error, although we are using the new agent:
[code]

The qemu process shows that the agent being called is `clear-containers.target`:
[code]

[2017-08-17 14:17] grahamwhaley commented on #431
just to note, I expect we can work around the non-existence of a .git dir with some make wildcard and conditionals, if we did go that route.

@dvoytik - if you made the 'install git-hooks' rule depend on the hooks being there - that is, if they auto-installed the first time make was run, that would in some ways feel better to me as folks would not forget to install them. /me suspects you were thin

[2017-08-17 14:31] dvoytik commented on #431
@grahamwhaley, I was thinking about auto-installation also. If doesn't brake CI then I'm simply +1

[2017-08-17 14:40] devimc commented on #301
https://github.com/clearcontainers/runtime/wiki/Release-Process
https://github.com/clearcontainers/runtime/wiki/Release-Checklist

can we close this one?

[2017-08-17 15:08] sboeuf commented on #432
@chavafg this log does not mean we are using hyperstart agent, they are from virtcontainers, and this means that we are relying on the hyperstart agent implementation.

[2017-08-17 15:09] sboeuf commented on #432
@chavafg please give me the logs from the runtime and the logs from the proxy, this will help to figure out what's going on here.

[2017-08-17 15:32] jodh-intel commented on #301
Yep.

[2017-08-17 15:32] #301 closed

[2017-08-17 15:55] grahamwhaley commented on #39
PR landed: https://github.com/clearcontainers/tests/pull/321
I'll close this now.
If/when we get to SRIOV and the like then we can have new Issues.

[2017-08-17 15:55] #39 closed

[2017-08-17 15:56] grahamwhaley commented on #98
PR landed to add the metrics tests. there are other PRs to automate the CI etc., so I'm closing this one.
https://github.com/clearcontainers/tests/pull/321

[2017-08-17 15:56] #98 closed

[2017-08-17 16:47] #433 closed

[2017-08-18 06:21] wcwxyz opened #435 "Execute commands in VM root namespace"
Currently `runtime` can only support to run commands in container namespace.

It'd be nice to be able to run commands in VM root(pid 1) namespace. It allows user to do misc operations.

[2017-08-18 06:49] sboeuf commented on #435
Not sure to understand what is the point here. We are trying to be OCI compliant and to duplicate runc behavior, is there such a thing in runc ? The point of the runtime is to run some processes inside containers, and in our case the containers are VMs, but this is transparent for the user and there is no reason to allow the user to execute commands in the VM root namespace.
@grahamwhaley @jodh-in

[2017-08-18 07:03] wcwxyz commented on #435
1. `runtime` can be a superset of `runc`.  Having more features than `runc` doesn't mean violating OCI compliance.
2. clear container is adding a layer of virtualization of container. We should be able to debug this virtualization layer. That means either proxy/qemu/agent is debuggable, as well as the VM root namespace.
3. By adding such ability, user can observe/debug/modify the whole VM guest at

[2017-08-18 07:31] sboeuf opened #436 "vendor: Update virtcontainers vendoring"
An update of the virtcontainers package is needed so that we can rely on the latest version including the detection of nested VM environment. That way, when running on a VMM, our Clear Containers runtime will adapt QEMU flags accordingly.
Note the ciao package has to be updated at the same time.

[2017-08-18 09:27] sboeuf commented on #386
This is not fixed yet. https://github.com/clearcontainers/agent/pull/82 and https://github.com/containers/virtcontainers/pull/345 have been merged, but we still need https://github.com/clearcontainers/runtime/pull/437 to land to get this issue fixed.

[2017-08-18 10:07] grahamwhaley commented on #435
I think from a debugging pov, this would be a useful feature - we have had to use a number of tricks and workarounds in the past to 'look inside' the VM OS space that lives outside the container workload (such as debugging systemd or agent things).
**BUT**, adding the ability to run commands in the VM but outside of the workload as a default feature to the runtime feels to me like a big security h

[2017-08-18 12:05] dvoytik commented on #431
I decided to make the patch simpler and just remove config-generated.go in the git hook scripts. Let me know if I should rework it differently. Thanks.

[2017-08-18 16:12] sboeuf commented on #432
I did investigate this issue this afternoon, and I realized that the issue was happening for the `startpod` command, more specifically when trying to setup routes. I don't know why it "works" for hyperstart and not for our agent. The error says `network unreachable`.
@egernst I will continue this on Monday, I need the machine to be available if possible.

[2017-08-18 16:55] wcwxyz commented on #435
I'm ok with that being a build time configuration. But I wonder how much difference does it make when you already have communication between host and guest. Could you show me the new attack surface?

In real world, sometime user will have to run commands in root namespace when there's problem within the guest os, either fixing it or workaround it, as well as debugging. I mean when something goes w

[2017-08-19 05:00] egernst commented on #339
See https://github.com/clearcontainers/runtime/wiki/Clear-Containers-and-Openshift

Will work with @chavafg to put together a test for QA based on wiki.

[2017-08-19 14:53] #366 closed

[2017-08-21 09:47] sboeuf commented on #332
Here is my email I had sent to our internal mailing list, there is nothing confidential, that's why I can copy/paste this here:
[code]

[2017-08-21 09:51] jodh-intel opened #439 "cc-check should only warn if "unrestricted_guest" is not set when running under a hypervisor"
Now that virtcontainers provides a way to detect if running under a hypervisor...

- https://github.com/containers/virtcontainers/pull/343

... we need to update `cc-check` to determine more intelligently if the environment is capable of running a Clear Container since although environments like Azure do not provide `unrestricted_guest`, it *is* still possible to run a Clear Container on it.

In s

[2017-08-21 09:54] #436 closed

[2017-08-21 09:56] sboeuf commented on #332
@grahamwhaley to summarize:
- dep commit version is `24c37f5f336ec108d44e88a6f36125ab93c79951`
- `dep ensure`: either we go with `dep ensure github.com/our/new/pkg` if that's the first time we vendor this package, or we use `dep ensure -update github.com/our/new/pkg` if we need a bump to a more recent version of this package.
- `dep prune` has to be run every time we use `dep ensure ...` in order

[2017-08-21 09:57] sboeuf commented on #439
:+1:

[2017-08-21 12:58] devimc commented on #386
#437 was merged, closing issue

[2017-08-21 12:58] #386 closed

[2017-08-21 14:33] #431 closed

[2017-08-21 16:41] sboeuf commented on #432
@egernst I am currently trying this patch https://github.com/clearcontainers/agent/commit/ffb50d00742287ffbfa67fe97f4ee0fd6405fec2 on the agent code base, I am waiting for Semaphore results to determine if I broke something by doing this.
I have checked and it seems to fix k8s, could you confirm on your side please ?

[2017-08-21 16:45] sboeuf commented on #432
@egernst if this works for you to run properly k8s and I get a positive result from our CI, I will write a better patch but this one is enough for the test

[2017-08-21 19:41] GabyCT opened #443 "docker swarm leaving replicas in created mode"
With the following configuration:
Fedora 25
Docker 17.06.1-ce
cc-runtime 3.0.0-beta.1
commit   : 48255158a15166ecaae2497c3b15f203b7728727
OCI specs: 1.0.0-rc5

While starting swarm and then creating a service to launch swarm replicas, it is seen that replicas are
shown in "created" mode or not running
CONTAINER ID        IMAGE                 COMMAND                   CREATED             STATUS

[2017-08-21 20:14] devimc commented on #387
https://github.com/containers/virtcontainers/pull/345 and https://github.com/clearcontainers/runtime/pull/437 fixed this issue

[2017-08-21 20:14] #387 closed

[2017-08-21 21:45] sboeuf commented on #387
Yes everything has been merged but this is not fixed on latest release (not yet). We need to update the clear-xxxxx-containers.img with the latest agent changes.
@GabyCT do you have this test ready to be enabled in our CI ?

[2017-08-22 10:15] #439 closed

[2017-08-22 10:40] grahamwhaley commented on #8
This was enabled in the merge https://github.com/clearcontainers/tests/pull/410

[2017-08-22 10:40] #8 closed

[2017-08-22 10:47] grahamwhaley commented on #97
IO tests were enabled with:
https://github.com/clearcontainers/tests/pull/225
and
https://github.com/clearcontainers/tests/pull/415

I've added a new Issue to cover the item of expanding these tests to cover the various mount types and storage (graph?) back ends:
https://github.com/clearcontainers/tests/issues/443

[2017-08-22 10:47] #97 closed

[2017-08-22 10:48] grahamwhaley commented on #38
IO tests added, and new Issue opened to cover expansion of testing. See #97 for more details

[2017-08-22 10:48] #38 closed

[2017-08-22 10:50] grahamwhaley commented on #32
Scripts can be found over at:
https://github.com/clearcontainers/tests/pull/225

[2017-08-22 10:50] #32 closed

[2017-08-22 11:02] grahamwhaley commented on #425
@eadamsintel added :-)

[2017-08-22 14:33] GabyCT commented on #387
@sboeuf yes we already have the test https://github.com/clearcontainers/tests/blob/master/integration/docker/user_test.go, I will enable it

[2017-08-22 14:37] sboeuf commented on #387
@GabyCT cool, thanks for confirmation. Wait for enabling this until we have a new packaging triggered for our clear-containers.img. I am waiting for a few patches to go into our agent before asking @jcvenegas and @gorozco1 to update this.

[2017-08-22 14:38] GabyCT commented on #387
@sboeuf ok :)

[2017-08-22 19:36] egernst commented on #392
@grahamwhaley I wanted to check in on this -- I would like to contribute here if it helps.  Let me know if you have any existing .mds started and/or if there are areas I can grab.

[2017-08-22 19:57] egernst commented on #172
@wuzhy, can you please reopen if this is still an issue with the beta release?

[2017-08-22 19:57] #172 closed

[2017-08-22 20:01] egernst commented on #127
@jcvenegas - I'm wondering if this issue can be closed? I think we have other proposals for resource management opened, and I'm not sure if we're looking at improved isolation?

[2017-08-22 20:13] #96 closed

[2017-08-22 21:22] egernst commented on #363
I see this issue as well.  versioning info and logs for runtime and proxy available @ https://paste.fedoraproject.org/paste/YulMGWGspIvPMIil6w7ZnQ

It isn't just that you fail on typing exit -- any commands after attaching fail.

[2017-08-22 21:24] egernst commented on #363
note: if you start interactive and then detach (ctrl -p -q) and then attach, everything behaves as expected.  This appears to only occur when starting in daemon mode.

[2017-08-22 21:59] egernst commented on #343
Log of proxy when recreating this failure to kill:
https://paste.fedoraproject.org/paste/Y3wOKYgRU8Ls9uMJLzkeew

[2017-08-22 22:00] egernst commented on #343
@sboeuf - have you tested running in detached mode?

[2017-08-22 22:40] amshinde commented on #363
To be able to interact with a container started in detach mode, it needs to be passed -i option. Without this the stdin is closed in detach mode and one is not able to interact with the container.
So, for the exit to work in the above case, the container would need to be started as
[code]

(Note the -i option passed)
It would then be possible to interact with the container and send it commands aft

[2017-08-22 22:57] #363 closed

[2017-08-22 23:23] sboeuf commented on #430
I have started to debug this. I can reproduce the issue described here:
[code]
If we check the state of the containers with
[code]
Some of the containers have exited and some others are still running.

Interesting thing is that I have added an extra `sleep 1` after we run the container workload, and all the kill signals seem to reach the container properly because all the containers exit with the

[2017-08-22 23:47] sboeuf commented on #343
I don't think so. I'll take a look later

[2017-08-22 23:58] amshinde commented on #343
Tried this out with the latest binaries, looks like the signal is propagated to the container with
cc-runtime kill. The signal sent is Signal 15 or SIGTERM.

But the state still shows the container running.
The delete command does not give me any errors. I see the same logs as @egernst.
Logs show that the container was successfully deleted.

I tried this out with explicitly sending a signal 9 as:

[2017-08-23 00:12] sboeuf commented on #343
@amshinde what is the workload running for this container ? And have we compared this with runc ?
SIGTERM behaves in a weird way with runc/libcontainer.

[2017-08-23 00:20] amshinde commented on #343
@sboeuf I have tested this with a busybox rootfs running "sh". Will try out with runc next.

[2017-08-23 00:52] amshinde opened #445 "Indent json output of state command for readability."

[2017-08-23 00:57] amshinde commented on #343
@GabyCT What is the workload and rootfs image that you used for the test?

[2017-08-23 01:22] amshinde commented on #343
I tested the same busybox rootfs running "sh" with runc:
[code]

With
[code]
I still see the container as running.
The container is stopped only with sudo runc kill test2 SIGKILL.
Seen the same behaviour in attached case.

So, Clear Containers behaviour is same as runc.

[2017-08-23 08:15] jodh-intel opened #447 "Update virtcontainers vendoring for vcMock"
Update the vendoring to be able to make use of the `vcMock` framework (https://github.com/containers/virtcontainers/pull/348).

[2017-08-23 08:24] grahamwhaley commented on #392
Hi @egernst  I was going to start on this today.
My basic plan is to assess https://github.com/01org/cc-oci-runtime/blob/master/documentation/architecture.md and adopt/adapt as necessary.
I was thinking though - much of the architecture is really over in https://github.com/containers/virtcontainers, not in the runtime, as the runtime is a relatively thin shim. So, much of the documentation (detail

[2017-08-23 08:30] sboeuf commented on #343
@GabyCT please retry your testing with `runc` and tell us if you get the same behavior than @amshinde.
In case you get the same result, I think we can consider closing this issue.

[2017-08-23 08:33] wcwxyz commented on #435
@grahamwhaley @sboeuf can you share some ways to look into VM for the time being?

[2017-08-23 08:34] grahamwhaley commented on #363
note: @egernst https://paste.fedoraproject.org/paste/YulMGWGspIvPMIil6w7ZnQ and similar pastebin/paste type links are not great for referencing info on Issues here, as they rapidly expire, and we lose historical info which folks might later want to reference or use :-(

[2017-08-23 09:01] #447 closed

[2017-08-23 09:20] jodh-intel opened #449 "Make virtcontainers implementation switchable"
Now that the runtime is using a version of virtcontainers that provides the `VCMock` framework, make the virtcontainers implementation switchable for testing.

[2017-08-23 09:47] #449 closed

[2017-08-23 10:25] jodh-intel opened #451 "Create unit-test helper functions"
Implementing new unit-tests (for #93 and its sub-tasks) will be easier with a small set of utility functions for such things as creating various virtcontainers objects and OCI bundles.

[2017-08-23 10:36] #405 closed

[2017-08-23 10:37] #406 closed

[2017-08-23 10:51] #451 closed

[2017-08-23 12:08] grahamwhaley opened #453 "config: explicitly note that ncpu 1-255 sets the vcpus"
In the config file:
https://github.com/clearcontainers/runtime/blob/master/config/configuration.toml.in#L15
there is no explicit comment noting that for numbers from 1-255, that will set the actual number of vcpus created by the VM.

[2017-08-23 12:40] sboeuf commented on #435
@jcvenegas has a solution for that.
Could you share @jcvenegas ?

[2017-08-23 16:38] grahamwhaley commented on #392
@egernst fyi, I have done a first pass clone/clean of the cc-oci-runtime docs, which can be found on my branch here as WIP:
https://github.com/grahamwhaley/runtime/tree/20170823_arch_docs/docs/architecture

There are a couple of **fixme** items (clean up the hyperstart and qemu sections, ensure we have the correct networking ref/links etc.).

And then there are some more things I need or would lik

[2017-08-23 17:04] egernst commented on #392
@grahamwhaley  - I'll start taking a look at the diagram bits (which live on the [internal] google drive); will create a new folder setup so we differentiate 3.0 from 2.x....

[2017-08-23 18:06] grahamwhaley commented on #392
sure thing @egernst One thing I know in the docs is to change all hyperstart refs to 'agent' at least.
And then I am envisioning some sort of architectural runtime diagram that will show how the runtime is built on top of virtcontainers.
I think we should use the already uploaded .odp file https://github.com/01org/cc-oci-runtime/blob/master/documentation/architecture-diagrams.odp (or the copy we p

[2017-08-23 20:53] egernst commented on #411
PRs created for all the clear container projects as wells the virtcontainers project.

[2017-08-24 08:12] #445 closed

[2017-08-24 08:13] #453 closed

[2017-08-24 10:27] jodh-intel opened #458 "makeOCIBundle() should not rely on the pause bundle"
The test function `makeOCIBundle()` currently relies on the pause bundle. However, the pause bundle may be removed at some point and the tests cannot know what state that bundle is in.

Change  `makeOCIBundle()` to make a fresh bundle from a known source.

[2017-08-24 13:16] #458 closed

[2017-08-24 13:30] grahamwhaley commented on #392
Small update @egernst  I exported one of the diagrams to an .svg, made a modification using `inkscape` to ensure the load/edit/save cycle worked fine (preserving fonts, colours etc.), uploaded here https://github.com/grahamwhaley/runtime/blob/20170823_arch_docs/docs/architecture/overall-architecture.svg and modified the .md to use that instead of the .png.
All went OK, apart from it seems .svg inl

[2017-08-24 14:31] #401 closed

[2017-08-24 16:46] jodh-intel opened #461 "Tests occasionally timeout locally"
The local timeout is 5 seconds:

- https://github.com/clearcontainers/runtime/blob/master/.ci/go-test.sh#L7

... but is 15 seconds when run under CI:

- https://github.com/clearcontainers/tests/blob/master/Makefile#L19

The local timeouts are due to #459 from what I can see as copying the pause bundle is much quicker than running `docker export|tar...`.

Either we increase the local timeout to mat

[2017-08-24 17:39] egernst commented on #373
@amshinde  - can you still reproduce this?  If not, can we close?

[2017-08-24 20:54] gorozco1 opened #463 "create an installation doc for RHEL 7"
as stated in PR #372 we need to separate CentOS from RHEL and two documents need to be created.

[2017-08-24 20:54] gorozco1 commented on #371
Change te title of this issue to just cover CentOS 7

[2017-08-25 06:25] #399 closed

[2017-08-25 10:41] #461 closed

[2017-08-25 13:28] sboeuf commented on #394
@devimc you can focus on another one, I am implementing this one.

[2017-08-25 13:33] grahamwhaley commented on #394
Changing assignment of Issue to @sboeuf ...

[2017-08-25 14:55] grahamwhaley opened #467 "docker stop showing 'errors' in runtime log"
Distro: Ubuntu 16.04.2 LTS server
cc-runtime: 3.0.0-beta1 (from OBS install)

Running:
[code]
where `XXXXXX` is the container ID from the first step, is producing two errors for me in the runtime log (that I enabled by uncommenting the relevant section of the /etc... config file):
[code]

The ID there matches the XXXXXX above.

afaict, the error lines appear during the `docker rm` phase - but, I a

[2017-08-25 15:35] jodh-intel commented on #413
I think this just needs 1 more test similar to `TestConfigLoadConfigurationFailBrokenSymLink()` that creates a valid symlink to an unreadable file which will cause `loadConfiguration()` to fail.

[2017-08-25 16:16] #404 closed

[2017-08-25 19:30] #400 closed

[2017-08-25 19:38] #397 closed

[2017-08-25 19:56] chavafg commented on #432
I updated the `clear-containers-image` to version `17270` and now I am able to launch k8s workloads using CC.
Runtime used:
[code]

[2017-08-25 22:29] sboeuf commented on #432
Great, thanks for testing with latest image. We can close this issue now :)

[2017-08-25 22:29] #432 closed

[2017-08-28 13:49] egernst commented on #339
Test being handled by @chavafg  on https://github.com/clearcontainers/tests/issues/465

Closing this issue.

[2017-08-28 13:49] #339 closed

[2017-08-28 15:34] #403 closed

[2017-08-28 16:20] #394 closed

[2017-08-28 19:50] devimc commented on #430
the problem is because of the workload has not been executed (has not cpu time) when agent returns reporting success, I found a fix for 2.x (and I think could be the same for 3.0) but it implies to change cpu affinity and scheduling policy in the VM in order to guarantee the workload has been executed, or we can just put a sleep before returning from ```STARTCONTAINER``` in the agent

[2017-08-29 03:44] jovizhangwei opened #474 "Need CentOS installation guide"
There don't have CentOS installation guide in below link.

https://github.com/clearcontainers/runtime/blob/14d8084822980341ee9cc656eb4b42d7991a0fb6/docs/developers-clear-containers-install.md

[2017-08-29 08:33] #395 closed

[2017-08-29 08:37] jodh-intel commented on #474
Hi @jovizhangwei - thanks for raising. This is actually an in-progress PR: #372.

[2017-08-29 08:38] jodh-intel commented on #474
Closing as this is tracked on the PR and its issue...

[2017-08-29 08:38] #474 closed

[2017-08-29 09:08] jodh-intel opened #475 "testRunContainerSetup() is calling realMakeOCIBundle() rather than makeOCIBundle()"
The test helper function `testRunContainerSetup()` is calling `realMakeOCIBundle()` rather than `makeOCIBundle()`. This resulted in occasional test timeouts (and thus failures) on slow systems.

 Tests should only call `makeOCIBundle()` and `realMakeOCIBundle()` needs a warning comment.

[2017-08-29 09:21] jodh-intel opened #477 "Increase oci.go unit test coverage"
Follow-on from #405.

See: #93.

[2017-08-29 14:00] #475 closed

[2017-08-29 15:14] jodh-intel opened #479 "re-vendor virtcontainers for simplified oci.StatusToOCIState()"
`oci.StatusToOCIState()` no longer returns an error, only the state. Updating vendoring to use the latest version.

[2017-08-29 15:57] #479 closed

[2017-08-29 16:52] #477 closed

[2017-08-29 22:55] sboeuf opened #481 "ci: Fix scripts to work with Jenkins"

[2017-08-30 09:23] jodh-intel opened #482 "release_notes.sh script should live in scripts/ directory"
The `docs/release_notes.sh` script should be moved to a new `scripts/` directory as it is not a document.

[2017-08-30 09:44] jodh-intel commented on #206
@gorozco1 - can we close this now?

[2017-08-30 09:44] jodh-intel commented on #373
I am unable to recreate so I'm closing this for now. Feel free to re-open if it can be recreated (and please attach the info requested above in that case).

[2017-08-30 09:46] jodh-intel commented on #425
How about putting a draft up on https://github.com/clearcontainers/runtime/wiki so we can all contribute?

[2017-08-30 09:49] vinay-y commented on #200
Hi, I am using cc-oci-runtime version: 2.2.4.
As there are no cgroups, we are unable to monitor cpu/memory utilization of the containers from host machine. Is there any way of monitoring this? One way is to run a daemon within the container which the host can request to give stats. But, can we do it somehow from the host directly? Using cc-shim or something? Can we do this in runtime 3.0?

Thanks.

[2017-08-30 09:52] jodh-intel opened #483 "run unit-tests as non-root and root users and merge coverage results"
Some of our unit tests require `root` privs to run. Conversely, some must be run as a non-`root` user.

We should modify the unit-test coverage logic to run the unit-tests twice and collate the results for both runs to give a true indication of our unit-test coverage.

(Note that we already have some tests that need to be run as a non-`root` user but these are not run as the CI runs all tests as `

[2017-08-30 11:54] egernst commented on #343
Based on @amshinde comment regarding being the same as runc, this issue should be closed as not a bug.

[2017-08-30 11:54] #343 closed

[2017-08-30 11:58] egernst commented on #36
@grahamwhaley  - can this be updated yet?

[2017-08-30 12:39] jodh-intel commented on #463
We're now thinking that #371 can accommodate both CentOS and RHEL (it originally did, then it became CentOS only, now it's back to both :-), so this can probably be closed.

@gorozco1 - what's your view?

[2017-08-30 12:40] jodh-intel commented on #402
Hi @amshinde - any update on this?

[2017-08-30 12:40] jodh-intel commented on #413
Hi @sboeuf - any update on this?

[2017-08-30 12:44] jodh-intel commented on #396
Hi @sboeuf - any update on this?

[2017-08-30 12:55] grahamwhaley commented on #36
I'm going to say 'no' for the minute.
Although we have landed the code (tests and the script to invoke them), for instance here:
https://github.com/clearcontainers/tests/pull/349
and we are beta trialling the CI infra to execute and report on those, it is not stable and fully enabled yet. We'll close this down when it is up and running (and ideally after a short period of stability).
/cc @MarioCar

[2017-08-30 13:01] jodh-intel opened #485 "increase unit-test coverage on create.go"
Add a new test to increase the unit-test coverage on `create.go`.

[2017-08-30 13:04] jodh-intel commented on #485
Related to #93.

[2017-08-30 13:32] #483 closed

[2017-08-30 13:55] jodh-intel opened #487 "Update dev install guide to remove glibc-static"
Since #434 landed, it has not been necessary to have the `glibc-static` package installed when building the system components.

(Note that although `cc-shim` is written in C -- unlike the pause binary -- it does not need to be statically-linked).

[2017-08-30 14:07] #481 closed

[2017-08-30 14:07] sboeuf commented on #413
@jodh-intel this one is already all covered, isn't it ?

[2017-08-30 14:08] sboeuf commented on #396
I am gonna look into this.

[2017-08-30 14:19] gorozco1 commented on #206
yes we can close it.

[2017-08-30 14:19] #206 closed

[2017-08-30 14:45] jodh-intel commented on #413
Ah - I see what's happened - I raised this issue based on the coveralls output, but at that time coveralls was only running the tests as `root`. Now that #484 has landed, coveralls now gets to see the tests I actually wrote for `config.go` on #484 which increased the coverage to 100% when run as a non-root user!

Closing as already done :smile:

[2017-08-30 14:45] #413 closed

[2017-08-30 16:26] amshinde commented on #402
@sboeuf mentioned he will be taking a look at this. @sboeuf If you are, can you assign it to yourself?

[2017-08-30 17:16] sboeuf commented on #402
@amshinde I am pretty busy with the CI right now and I have to write the tests for main.go. Not sure I will be able to handle this one. Maybe @devimc or @jcvenegas has some bandwidth to implement this one ?

[2017-08-30 18:29] #398 closed

[2017-08-30 19:07] #487 closed

[2017-08-30 19:34] egernst opened #490 "error messages in runtime logs on seemingly successful tests"
root@eernst-nuc-2:/var/lib/clear-containers/runtime# docker run -it alpine sh
/ # exit

cat runtime.log | grep error:

2017-08-30 12:31:39.305916594 -0700 PDT:18796:cc-runtime:error:Container f3f0efb4c291375c61398233b00f8f35d56f3bc44bdc5e03d356b3a1a1082194 not ready or running, cannot send a signal
2017-08-30 12:31:39.732974159 -0700 PDT:18807:cc-runtime:error:Container ID does not exist

Seems we

[2017-08-30 19:37] egernst opened #491 "logs contain lines over 7k characters"
I have a personal limit of logs containing lines which are under 7,000 characters, otherwise I can't possibly fit it on my tiny monitor.

Let's either remove these or clean them up to a more usable format.

[2017-08-30 19:43] egernst commented on #467
@grahamwhaley -- I see the same thing when doing:
docker run -it alpine sh
# exit

This is a bit concerning, especially given some of the other life cycle bugs we have open.

[2017-08-30 19:43] egernst commented on #490
duplicate of https://github.com/clearcontainers/runtime/issues/467

[2017-08-30 19:43] #490 closed

[2017-08-30 19:49] amshinde commented on #402
@sboeuf Ack.
@jodh-intel I had a look at this earlier. The exit() function is used in main.go, so its not possible to move the exit function to main_test.go. I think the exit() function was added  to help run the go coverage tool by Damien.
The only way I see to test the exit function is to have a forked process call exit(). But since a simple fork is not possible in golang, testing this function

[2017-08-30 19:56] jcvenegas commented on #402
@amshinde  is it possible to not call exit in this function and do it after call it , in main.go  ? or add anoter parameter to ask to not to exit ? (at least to verify the  all functions in the where called?

[2017-08-30 21:03] devimc opened #492 "tests: increase code coverage in console.go"

[2017-08-31 08:40] #482 closed

[2017-08-31 08:57] jodh-intel commented on #332
Note that the document should also state that if the re-vendoring removes any limitations, the author of that PR should also update https://github.com/clearcontainers/runtime/blob/master/docs/limitations.md (and in fact mention in the commit message that "limitation X" has been removed).

[2017-08-31 10:04] jodh-intel opened #494 "Update limitations doc"
This is now slightly out-of-date:

- https://github.com/clearcontainers/runtime/blob/master/docs/limitations.md

As a minimum, it needs to be updated for:

- `docker run -m` (supported)
- `docker run --cpu-quota` + `docker run --cpu-period`
  (supported, so relates to `docker run --cpus`).

[2017-08-31 10:09] jodh-intel opened #495 "Perform usability testing"
We need a few folk who have no prior experience of this project (and ideally no previous experience of https://github.com/01org/cc-oci-runtime either) to install CC and fire up a container.

This equates to testing:

- Fedora installation:
  https://github.com/clearcontainers/runtime/blob/master/docs/fedora-installation-guide.md

- Ubuntu installation:
  https://github.com/clearcontainers/runtime/

[2017-08-31 11:47] jodh-intel opened #496 "Only re-run unit-tests if not initially running as root"
Improve `go-test.sh` so that the unit-tests are only run once if initially running as `root`. This is required since it is not clear which user `root` could switch to to run the tests as a non-priv user.

(The intent is for the tests to be run as a non-`root` user normally and that user will then elevates privs to `root` via `sudo` to re-run the tests).

[2017-08-31 13:16] jodh-intel commented on #467
Closing as this isn't a bug in the runtime, it's a bug in containerd afaik:

- https://github.com/01org/cc-oci-runtime/blob/master/src/oci.c#L1102

And here's the relevant snippets from a debug log showing how the runtime was called for a *single* container lifecycle:

[code]

[2017-08-31 13:19] grahamwhaley commented on #467
So @jodh-intel , should we be changing our error to a warning, to match cc-oci-runtime better (and cause less concerning messages in the logs) ?
If so, we might want to re-open this or a new Issue.

[2017-08-31 13:23] jodh-intel commented on #467
It's very debatable. The runtime has detected that it has been called incorrectly, so that is an error. I'm easy either way though as long as we log at atleast the warning level.

[2017-08-31 13:34] grahamwhaley commented on #467
OK, after irc chatter and input from @egernst I'm going to re-open this asking that we downgrade those errors to info/warnings - given that the double delete is, I believe, benign, correct @jodh-intel ?

[2017-08-31 13:36] jodh-intel commented on #467
It's benign in that the runtime catches the incorrect call from `containerd` and handles it, yes.
@egernst - please can you reference this bug when you raise an issue on containerd.

[2017-08-31 13:59] #496 closed

[2017-08-31 14:28] #492 closed

[2017-08-31 14:42] egernst commented on #176
@jcvenegas  -- you get a chance to look @ this?

[2017-08-31 14:47] egernst commented on #359
@jodh-intel can this be closed at this point?

[2017-08-31 14:54] jodh-intel commented on #402
@amshinde - ah! I'd missed that! ;)

In which case, how about this:

- modify `exit()` so that rather than calling `os.Exit(status)` it calls `exitFunc` where that is defined in `exit.go` as:
[code]
- create `exit_test.go`.
- create `init()` in `exit_test.go to set `exitFunc = testExitFunc` (that does not call `os.Exit()`).
- create some tests that call `exit()`:
  - when no calls to `atexit()` ha

[2017-08-31 14:58] jodh-intel commented on #359
I don't think it matters where it is run per se, just that we do it. I agree that this is post-release (tagged).

[2017-08-31 15:04] jcvenegas commented on #176
@egernst  I did not, so I think the fix should be addressed in VirtContainers. If anything  at creation pod time fails,  will need to rollback by killing the VM and all the shims. @sboeuf does it make sense ?

[2017-08-31 15:06] sboeuf commented on #176
@jcvenegas yes this has to be handled in virtcontainers.

[2017-08-31 15:35] egernst commented on #176
Closing; tracked by https://github.com/containers/virtcontainers/issues/356

[2017-08-31 15:35] #176 closed

[2017-08-31 15:57] devimc opened #498 "increase run.go code coverage"

[2017-08-31 16:20] #498 closed

[2017-08-31 16:48] jodh-intel opened #500 "Update cc-env to include hypervisor version string"
Curently, the `cc-env` command shows component versions but does not include the hypervisor version (although it does show the hypervisor path and machine type).

Once https://github.com/clearcontainers/qemu/issues/2 lands, we can supplement the output to include the full hypervisor version string (including the short commit for the branch).

[2017-08-31 16:54] jodh-intel opened #501 "Update Ubuntu install doc for 17.04"
Test and update https://github.com/clearcontainers/runtime/blob/master/docs/ubuntu-installation-guide.md

[2017-08-31 16:55] jodh-intel opened #502 "Update Fedora install doc for Fedora 26"
Test and update https://github.com/clearcontainers/runtime/blob/master/docs/fedora-installation-guide.md

[2017-08-31 16:56] jodh-intel commented on #502
This isn't release-gating, but see #495.

[2017-08-31 16:56] jodh-intel commented on #501
This isn't release-gating, but see #495.

[2017-08-31 18:11] eadamsintel commented on #495
I verified the Fedora instructions are good. The only minor change is to change "sudo dnf install docker-ce" to "sudo dnf -y install docker-ce"  I'll verify other instructions later.

[2017-08-31 18:14] jcvenegas opened #503 "3.0.0-beta.2"
Change release process, instead create a release candidate we can test the HEAD what will be the last commit using new automated obs package generation we can generate and test commits based on HEAD.

- [ ] Test the HEAD commit of the master branch using the tests included in the [tests repository][tests].
- [ ] Update ```VERSION``` in the runtime repository.
- [ ] Update the versions of `cc-proxy

[2017-08-31 18:19] jcvenegas commented on #503
@chavafg @gorozco1  assuming our CI is passing the first step is done right?
Test the HEAD commit of the master branch using the tests included in the tests repository.

[2017-08-31 18:49] eadamsintel commented on #495
Ok after running into a few strange errors and issues with Docker not starting at bootup I recommend adding the following lines to the Fedora instructions.

Add in beginning
sudo groupadd docker
sudo -E gpasswd -a $USER docker

Add at end
sudo systemctl enable docker.service

This will make sure Docker runs at startup and that you don't need "sudo" to run the commands.

[2017-08-31 19:52] amshinde commented on #402
@jodh-intel Neat approach!  I will give it a go.

[2017-08-31 21:44] MarioCarrilloA commented on #36
@egernst, well, at this moment, the metrics test about memory footprint is included in CI
https://github.com/clearcontainers/tests/blob/master/.ci/run_metrics_ci.sh
however I agree with the idea about to close this when we get stability

[2017-09-01 04:52] jcvenegas opened #507 "docker run does not remove shim and VM if run binary does not exit."
What I run ?
[code]
What I expected ?
[code]
What I got ?
Qemu and shim are alive
[code]
Extra info:
Running the same using runc and then check with `runc list` does not show any container but cc-runtime does.

[code]
Proxy logs:
[code]

Runtime logs
[code]

[2017-09-01 04:55] jcvenegas commented on #507
Note that is similar than #176, but in this case start does not handle properly if fails?  or probably delete is not working at all ( From runtime logs I can see `delete` is called)

[2017-09-01 05:02] sboeuf commented on #507
@jcvenegas could you post the full logs you get from the runtime after you got this failing please. I'd like to understand the calls submitted by Docker here.

[2017-09-01 05:15] sboeuf commented on #507
Nevermind, I ran this quickly and I figured out what was the root cause (don't know how to fix it though...).
We have docker calling our runtime three times, one for creating the container, one for starting it, and because the start fails, it tries to delete the container.
Unfortunately, I guess that Docker has removed the config.json file in that case. I mean that it does remove the config.json f

[2017-09-01 05:46] sboeuf commented on #507
@sameo @jcvenegas I think we have several options to fix that.
So basically this function `GetOCIConfig()` is called here https://github.com/clearcontainers/runtime/blob/master/delete.go#L78 and it is the culprit because it tries to read from the `config.json` file, in order to fill the `ociSpec` structure.
We need this structure to know which cgroups we want to remove (the one created at `create`

[2017-09-01 08:45] grahamwhaley commented on #507
/cc @jodh-intel for any info on what/how we did this in CC2.x
Would also be interesting to know how runc handles this.

[2017-09-01 09:36] jodh-intel commented on #495
Hi @eadamsintel - thanks for testing. I'll update the Fedora install doc based on your feedback. However, I don't think the `groupadd` is required unless you want to be able to run docker as a non-privileged user. We could add that, but the other install docs run docker as `root`, so for consistency, I think it makes sense to not mention the non-priv method (which will also require a logout or reb

[2017-09-01 09:41] jodh-intel opened #509 "update Fedora installation doc"
Update the Fedora installation document based on feedback from #495.

[2017-09-01 10:50] #402 closed

[2017-09-01 11:19] grahamwhaley commented on #200
Hi @vinay-y
If you are looking for just the overall total CPU and memory usage of the container, then you can examine the values for the VM that is holding the container (qemu), and that will give you the total cpu and memory that that container is consuming.
Using the `top` command host side (or any other host side memory and cpu analysis tools) should give you a similar set of data to `docker st

[2017-09-01 15:58] #509 closed

[2017-09-01 16:17] jodh-intel commented on #396
As @sboeuf is out and after a discussion, I'll look at this one.

[2017-09-01 19:10] eadamsintel commented on #495
You could always say that is an optional step. Regardless it should be consistent between different OS instructions. Ubuntu instructions for example did have the groupadd.

[2017-09-01 19:25] eadamsintel commented on #495
I validated the 3.0 compile instructions for Ubuntu at https://github.com/clearcontainers/runtime/blob/master/docs/developers-clear-containers-install.md

./autogen.sh has the following warning "aclocal: warning: couldn't open directory 'm4': No such file or directory so noting that this warning is there or removing it would be ideal.

Also, the instructions don't mention how to install Docker. Si

[2017-09-01 20:18] #503 closed

[2017-09-01 21:34] eadamsintel commented on #495
One of my coworkers tried installing CC 3.0 on Fedora where CC2.1 was already installed and ran into the following issue.  If the installer can't support "upgrading" then we need to be explicit on uninstalling any previous versions of cc-oci-runtime.

Error: Transaction check error:
  file /usr/lib/systemd/system/cc-proxy.service from install of cc-proxy-config-3.0.0beta.1+git.817d71e-1.1.x86_64 c

[2017-09-04 07:54] jodh-intel opened #510 "create Clear Linux installation guide"
Create:

- https://github.com/clearcontainers/runtime/blob/master/docs/clear-linux-installation-guide.md

... for parity with:

- https://github.com/01org/cc-oci-runtime/blob/master/documentation/Installing-Clear-Containers-on-ClearLinux.md

[2017-09-04 07:56] jodh-intel commented on #495
@eadamsintel - I did add the `groupadd` call to the fedora install doc in the end.

[2017-09-04 08:07] jodh-intel commented on #495
Hi @eadamsintel, @gorozco1, @grahamwhaley - I've raised the following to handle https://github.com/clearcontainers/runtime/issues/495#issuecomment-326688692:

- https://github.com/clearcontainers/packaging/issues/93

I think this should be release-gating for CC 3.0 so have labelled it as such (since the "transaction splat" doesn't look good and is avoidable ;-)

[2017-09-04 08:17] jodh-intel commented on #495
Hi @eadamsintel - the `m4` `aclocal` error is fixed by https://github.com/clearcontainers/shim/pull/67.

[2017-09-04 08:28] gvancuts commented on #495
Hi @jodh-intel @eadamsintel , about https://github.com/clearcontainers/runtime/issues/495#issuecomment-326892022, the `groupadd` trickery, while very convenient from a user perspective, is also a bit of a security hole, see [1] and [2]. As such, I wouldn't make this part of the standard instructions and I would just keep using `sudo` whenever using `docker`.

[1] https://docs.docker.com/engine/ins

[2017-09-04 08:38] jodh-intel opened #511 "simplify the developers guide"
The developers guide currently include instructions that are duplicated in the installation guides, so drop these details and point to the installation guides to avoid duplication.

[2017-09-04 08:58] jodh-intel commented on #495
Hi @eadamsintel - regarding https://github.com/clearcontainers/runtime/issues/495#issuecomment-326664642, I've just raised https://github.com/clearcontainers/runtime/pull/512 which I think resolves this issue.

[2017-09-04 08:59] jodh-intel commented on #495
doh.

[2017-09-04 09:01] jodh-intel opened #513 "remove call to groupadd in fedora install guide"
Drop the call to `groupadd(8)` in the Fedora installation guide as it's a possible security issue.

[2017-09-04 09:03] jodh-intel commented on #495
Ah, thanks @gvancuts! PR #514 raised to resolve this.

[2017-09-04 11:02] grahamwhaley commented on #430
Hi @devimc So we can discuss further, **exactly** what is the root of the problem - for instance, I think it is that the VM/agent is up and running, but the workload itself is not - so when the runtime posts a signal to the agent to send to the workload, we get 'stuck' in the VM/agent - maybe?
Maybe a sequence (diagram or just text listing) of a working and non-working flow could help us understan

[2017-09-04 11:40] jodh-intel commented on #430
It would probably be useful to collect and attach some logs from runtime+proxy after configuring the agent for debug (https://github.com/clearcontainers/runtime/blob/master/docs/debug-agent.md).

[2017-09-04 15:45] #513 closed

[2017-09-05 08:54] grahamwhaley opened #515 "scripts: relnotes script has /bin/bash on wrong line"
The script:
https://github.com/clearcontainers/runtime/blob/master/scripts/release_notes.sh
has the `#!/bin/bash' down on line 15 instead of on the first line where it should be.

[2017-09-05 09:03] grahamwhaley opened #517 "relnotes: un-edited Changes section is just a copy of the shortlog"
If the Changes section of the auto-generated relnotes is not hand-edited down, then it pretty much just looks identical to the shortlog section, but without the hotlinks.
Add a note to the Changes section as a reminder that this section should be parsed and re-written by a human to make it a clear short summary (overview) of what changed. The shortlog will still be present in the other section for

[2017-09-05 09:10] grahamwhaley opened #519 "scripts: relnotes: limitations link was broken during script move"
When the relnotes script moved during https://github.com/clearcontainers/runtime/pull/489 we forgot to update the relpath link to the limitations.md file.

[2017-09-05 13:12] devimc commented on #430
@grahamwhaley I agree, changing cpu affinity and/or scheduler is not the solution.
the problem is that the workload has not been executed (consume cpu / uploaded to cpu) when the kill signal arrives (I guess the process was just scheduled) because the execution of a process depends of the scheduler, the only way I found to address this issues is adding a ```sleep``` before return success in the ``

[2017-09-05 13:55] jcvenegas opened #521 "cri-o tests hangs randomly"
Some crio-tests has beeing failing randomly in our CI leanding to a timeout.

Examples:
http://cc-jenkins-ci.westus2.cloudapp.azure.com/job/clear-containers-runtime-azure-ubuntu-17-04/6/console

[code]

https://semaphoreci.com/clearcontainers/agent/branches/pull-request-98/builds/7
[code]
https://semaphoreci.com/clearcontainers/proxy/branches/master/builds/10
[code]

https://semaphoreci.com/james-